<div class="p-2 mt-1 text-white boldText" style="background-color:rgb(137,145,21); ">
    <h3 class="text-center">Verificacion de materias primas a utilizar</h3>
</div>

<div id="carouselExampleControls" class="carousel slide notPrint" data-interval="9000000">
    <button style="display: none;" id="hiddenButton" data-slide-to="0" ></button>
    <div class="carousel-inner">
        <div class="carousel-item active mt-4">
            <div style="height: 480px; ">
                <div class="row">
                    <div class="col-2">
                        <div class="m-auto w-50">
                            <label>Código</label>
                            <input type="number" disabled class="form-control boldText" [(ngModel)]="id">
                        </div>
                    </div>
                    <div class="col-5">
                        <h3 align="center" class="mt-4">
                            <span class="badge badge-pill badge-info">
                                {{descripcion}} - {{componente}} - {{color}}
                            </span>
                        </h3>
                    </div>
                    <div class="col-2">
                        <div class="m-auto w-50 boldText">
                            <h5 class="boldText">Busqueda de producto a fabricar*</h5>
                            <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal2"
                                class="mt-4 bi bi-search" width="2em" height="2em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>Próximo Batch</label>
                        <input type="number" disabled [(ngModel)]="proximoBatch" class="form-control boldText">
                    </div>
                    <div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-3">
                        <label style="margin-left:50%;">Cantidad a elaborar</label>
                    </div>
                    <div class="col-2 input-group">
                        <input (change)="calcularFaltantes()" type="number" class="form-control boldText"
                            [(ngModel)]="cantidadPlani" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text boldText" id="basic-addon2">{{unidadmedida}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <label style="margin-left:50%;">Fecha Comprometida</label>
                    </div>
                    <div class="col-5">
                        <input type="date" class="form-control w-50 boldText" [(ngModel)]="fechacompr">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <label style="margin-left:50%;">Nombre del producto para etiqueta</label>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control w-50 boldText" [(ngModel)]="descripcionEtiquetas">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <label style="margin-left:50%;">Color del producto para etiqueta</label>
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control w-50 boldText" [(ngModel)]="colorEtiquetas">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="m-auto" style="width:80%">
                            <h3 class="alert text-white text-center" style="background-color: darkblue;"
                                *ngIf="tfa=='F'">
                                FORMULA </h3>
                            <h3 class="alert text-white text-center" style="background-color: orange;" *ngIf="tfa=='T'">
                                TINTURADO</h3>
                            <h3 class="alert text-center" style="background-color: yellow;" *ngIf="tfa=='A'">FORMULA
                                ALTERNATIVA</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="height: 500px;">
                <div class="row">
                    <div class="col-2 text-center mt-4">
                        <h5 align="center" class="boldText">ENVASADO</h5>
                    </div>
                    <div class="col-5">
                        <h3 align="center" class="mt-4">
                            <span class="badge badge-pill badge-info">
                                {{descripcion}} - {{componente}} - {{color}}
                            </span>
                        </h3>
                    </div>
                    <div class="col-2">
                        <label>A elaborar</label>
                        <div class="input-group">
                            <input type="number" disabled class="form-control text-right boldText"
                                [(ngModel)]="cantidadPlani">
                            <div class="input-group-append">
                                <span disabled class="input-group-text boldText"
                                    id="basic-addon2">{{unidadmedida}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <label>Próximo Batch</label>
                        <input type="number" disabled class="form-control boldText" min=0 [(ngModel)]="proximoBatch">
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div style="overflow: scroll; height: 340px; width: 90%;" class="m-auto">
                            <table class="table table-hover text-center">
                                <tr>
                                    <th>Código de envasado</th>
                                    <th>Descripción</th>
                                    <th>Total a Envasar</th>
                                    <th>Envases</th>
                                </tr>
                                <tr *ngFor="let item of arrayConj; let i = index" class="boldText">
                                    <td>{{item.codmp}}</td>
                                    <td>{{item.envasado | numeralPipe}} {{unidadmedida}} en {{item.descripcion}}</td>
                                    <td><input type="number" class="form-control boldText" #in
                                            (keyup)="in.value=in.value; calcular(in.value, i)"
                                            (change)="guardarEnvases(in.value, item.codmp, item.envasado)">
                                    </td>
                                    <td class="boldText">{{in.value/item.envasado}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 text-center">
                        <span style="font-size: 20px;" *ngIf="totCantidadEnvasar <= cantidadPlani"
                            class="badge badge-pill badge-success">
                            Falta envasar: {{cantidadPlani - totCantidadEnvasar | numeralPipe}}{{unidadmedida}}
                        </span>
                        <span style="font-size: 20px;" *ngIf="totCantidadEnvasar > cantidadPlani"
                            class="badge badge-pill badge-primary">
                            Falta envasar: {{cantidadPlani - totCantidadEnvasar | numeralPipe}}{{unidadmedida}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="height: 500px;">
                <div class="row">
                    <div class="col-2 text-center mt-4">
                        <h5 align="center" class="boldText">FALTANTES</h5>
                    </div>
                    <div class="col-5">
                        <h3 align="center" class="mt-4">
                            <span class="badge badge-pill badge-info">
                                {{descripcion}} - {{componente}} - {{color}}
                            </span>
                        </h3>

                    </div>
                    <div class="col-2">
                        <label>A elaborar</label>
                        <div class="input-group">
                            <input type="number" disabled class="form-control text-right boldText"
                                [(ngModel)]="cantidadPlani">
                            <div class="input-group-append">
                                <span disabled class="input-group-text boldText"
                                    id="basic-addon2">{{unidadmedida}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <label>Proximo Batch</label>
                        <input type="number" disabled class="form-control" style="font-size: 18px"
                            [(ngModel)]="proximoBatch">
                    </div>
                    <div class="col-2">
                        <button [disabled]="botonCancelado"
                            *ngIf="id && cantidadPlani && !totCantidadEnvasar || totCantidadEnvasar  <= cantidadPlani"
                            class="btn btn-success btn-block mt-4" style="font-size: 25px;" (click)="finalizar()">Emitir
                            Ticket</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="text-center col-12">
                        <div style="overflow: scroll; height: 400px; width: 90%;" class="m-auto">
                            <table class="table table-hover">
                                <tr class="bg-info text-white">
                                    <th>ORDEN</th>
                                    <th>CODMP</th>
                                    <th>CODPT</th>
                                    <th>DESCRIPCION</th>
                                    <th>FALTANTE</th>

                                </tr>
                                <tr *ngFor="let item of arrayAsoc">
                                    <td>{{item.orden}}</td>
                                    <td>{{item.codmp}}</td>
                                    <td>{{item.codpt}}</td>
                                    <td>{{item.descripcion}}</td>
                                    <td class="text-primary boldText" style="font-size: 15px;" *ngIf="item.ind[0] < 0">
                                        {{item.ind[0] | numeralPipe}}
                                        KG </td>
                                    <td class="text-success" *ngIf="item.ind[0] >= 0">HAY STOCK</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-9 ml-4">
            <div>
                <button [disabled]="!cancelarPrepesado" (click)="cancelar()" class="btn btn-primary">
                    Cancelar todo
                </button>
                <button [disabled]="!cancelarPrepesado" (click)="imprimirEnNuevaPestana()" class="btn btn-warning ml-2">
                    Imprimir prepesado
                </button>
            </div>
        </div>
        <div class="col-2">
            <button style="background: none; background-color: none; border: none;"
                *ngIf="id && cantidadPlani > 0 && !totCantidadEnvasar || totCantidadEnvasar  <= cantidadPlani"
                data-slide="prev" role="button" href="#carouselExampleControls">
                <svg class="bi bi-caret-left-fill" style="cursor: pointer" width="4em" height="4em"
                    viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg>
            </button>
            <button data-slide="next" href="#carouselExampleControls" role="button"
                *ngIf="id && cantidadPlani > 0 && !totCantidadEnvasar || totCantidadEnvasar  <= cantidadPlani"
                style="background: none; background-color: none; border: none;">
                <svg style="cursor: pointer" class="bi bi-caret-right-fill" width="4em" height="4em" viewBox="0 0 16 16"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
            </button>
        </div>
    </div>
</div>

<div class="yesPrint" *ngIf="!disableYesPrint">
    <style>
        .tab1 {
            display: inline-block;
            margin-left: 40px;
        }

        .tab2 {
            display: inline-block;
            margin-left: 80px;
        }

        table {
            font-family: arial, helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            padding: 0.1px;
        }

        th {
            border: 0.5px solid #dddddd;
            text-align: center;
            padding: 2.5px;
            font-size: 13px;
        }

        td {
            border: 0.5px solid #dddddd;
            text-align: left;
            padding: 2.5px;
            font-size: 13px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        pre {
            border: 0.5px solid #dddddd;
            padding: 0.5px;
            font-size: 13px;
            font-family: arial, helvetica, sans-serif;
            line-height: 20pt;
        }
    </style>

    <div>
        <h5>
            <b>
                REVESTA S.A.I.C. <span class="tab2"></span><span class="tab1">
                </span>BATCH TICKET {{proximoBatch}}
                <span class="tab2"></span><span class="tab2"></span>PRIORIDAD PARA FABRICAR:
            </b>
        </h5>
        <h6>
            <pre>
            CUBA Nro _____ <span class="tab1"></span> CODIGO: {{id}} <span class="tab1"></span> PRODUCTO: {{descripcion}} {{componente}} {{color}}
            CANTIDAD: {{cantidadPlani | numeralPipe: 'true'}} {{unidadmedida}} - (<span *ngIf="unidadmedida=='LT'"> {{(cantidadPlani * pesoespecifico) | numeralPipe: 'true'}} Kg</span><span *ngIf="unidadmedida=='KG'"> {{cantidadPlani | numeralPipe}} Kg</span>) <span class="tab1"></span> FECHA EMISION: {{fechaDelDia}} <span class="tab1"></span> FECHA INICIO PRODUCCION: ___/___/ ___ <span class="tab1"></span> HORA INICIO: _________
            OPERARIO: ___________________ <span class="tab1"></span> NRO.CUBA UTILIZADA: _________ <span class="tab1"></span> PESO CUBA: _________
            DISPERSORA NRO: _____ <span class="tab1"></span>CON DISCO: PLANO / CONN / MULTILAMINAR <span class="tab1"></span>MOLINO NRO: ______
            PESO FINAL ____________ Kg <span class="tab1"></span>CONTROLO ______________ <span class="tab1"></span> COMIENZO ENVASADO ___/___/___<span class="tab1"></span> FILTRO UTILIZADO # _______
            ETIQUETADO COMO: {{descripcionEtiquetas}} - {{colorEtiquetas}} **** FECHA VENCIMIENTO: {{calcularFechaVencimiento()}}
            </pre>

            <div class="w-100" *ngIf="tfa=='T'"> :
                <pre class="text-center">
		**** S I S T E M A   D E   T I N T U R A C I O N ****                                  
		BASE DE DATOS ___________   BASE CLIENTES ___________                                   
		AGREGAR PASTAS EN ___ ml       ___ onzas y fracciones
		* * * * TINTURAR SOLAMENTE EL PRIMER ENVASE * * * * *

		*****************  F O R M U L A  *******************    
            </pre>
                <table>
                    <tr>
                        <th></th>
                        <th>LOTE Nro.</th>
                        <th>DESCRIPCION</th>
                        <th>AGREGADO</th>
                    </tr>
                    <tr *ngFor="let item of arrayAsoc">
                        <td>{{item.orden}}</td>
                        <td></td>
                        <td>{{item.descripcion}}</td>
                        <td></td>
                    </tr>
                </table>
                <pre>
		COLOCAR EN EL SHAKER DURANTE TRES MINUTOS !!!
		LLEVAR A C.C. --> APROBACION DE COLOR
		>BASE DE DATOS --> IRAM
		>RESULTADO: _________________________________
 		NO SE GUARDA MUESTRA DE RETENCION !!!!!! 
		UNA VEZ APROBADO COMPLETAR PEDIDO TOTAL 
		COMPLETAR CON NEUTRAL SEGUN INDICACION C.C.   
            </pre>
            </div>


            <td *ngIf="tfa != 'T'">
                <table>
                    <tr>
                        <th></th>
                        <th>MP</th>
                        <th>PT</th>
                        <th>DESCRIPCION</th>
                        <th>CANTIDAD</th>
                        <th>LOTE Nro.</th>
                        <th>PREPESAO</th>
                        <th>AGREGADO</th>
                        <th>RGO/PROT</th>
                    </tr>
                    <tr *ngFor="let item of arrayAsoc; let i = index;">
                        <td>{{item.orden}}</td>
                        <td>{{item.codmp}}</td>
                        <td>{{item.codpt}}</td>
                        <td>{{item.descripcion}}</td>
                        <td *ngIf="unidadmedida == 'KG' && item.cantidad" class="text-right">
                            {{(item.cantidad*cantidadPlani)/100 | numeralPipe: 'true'}}0</td>
                        <td *ngIf="unidadmedida == 'LT' && item.cantidad" class="text-right">
                            {{(item.cantidad*cantidadPlani*pesoespecifico)/100 | numeralPipe: 'true'}}0</td>
                        <td *ngIf="!item.cantidad"> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">{{item.ind[1]}}</td>
                    </tr>
                </table>
                <span>
                    __. _________ ___________________________________________________________________________________
                    _______+_______+_______ _____ ______ __________<br><br>
                    __. _________ ___________________________________________________________________________________
                    _______+_______+_______ _____ ______ __________<br><br>
                    __. _________ ___________________________________________________________________________________
                    _______+_______+_______ _____ ______ __________<br>
                </span>
            </td>

            <br>
            <p class="text-center"> <b> DATOS DE APROBACION FINAL <span class="tab2"></span>ENTREGA ____ HORAS ___ C ___
                    HRA</b></p>



            <table>
                <tr>
                    <td>Peso Especifico : {{pesoespecifico | numeralPipe}} g/cm3</td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Viscosidad CPS : {{viscosidadspindle}} </td>
                    <td>_________ {{spindlenumero}}</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Viscosidad UK : {{viscosidaduk}}</td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Molienda : {{molienda}}</td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Sólidos P.P.P. : {{solidosppp }}</td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Brillo : {{brillo}}</td>
                    <td>Color : __________</td>
                    <td>Delta E ______</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Aplicabilidad : </td>
                    <td>Curado : __________</td>
                    <td>horas _______</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Relación mezcla: {{relaciondemezcla}}</td>
                    <td>con COMP. {{formaconjunto}}</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
                <tr>
                    <td>Observaciones: </td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </tr>
            </table><br>
        </h6>
        <h5>
            ========== {{id}} {{descripcion}} {{componente}} {{color}} {{proximoBatch}} ==========
            FECHA DE APROBACION FINAL ___/ ___ /___ <span class="tab1"></span>HORA _____<br>
        </h5>
        <div>
            <table>
                <tr>
                    <th>CODMP</th>
                    <th>FRACCIONAMIENTO SOLICITADO</th>
                    <th>ENVASADO</th>
                    <th>CANTIDAD</th>
                    <th></th>
                    <th>Ttl.KG x ENV.</th>
                    <th>Ttl.{{unidadmedida}}</th>
                </tr>
                <tr *ngFor="let item of arrayConj">
                    <td>{{item.codmp}}</td>
                    <td>{{item.descripcion}}</td>
                    <td class="text-right">{{item.envasado | numeralPipe}}</td>
                    <td *ngIf="item.indice != 0 && item.indice != ''" class="text-right">{{item.indice}}
                    </td>
                    <td *ngIf="item.indice == 0 || item.indice == ''" class="text-right">0</td>
                    <td>_______</td>
                    <td *ngIf="unidadmedida=='LT'" class="text-right">{{(item.envasado * pesoespecifico) | numeralPipe}}
                    </td>
                    <td *ngIf="unidadmedida=='KG'" class="text-right">{{item.envasado | numeralPipe}}</td>
                    <td class="text-right">{{(item.envasado * item.indice) | numeralPipe}}</td>
                </tr>
            </table>
            <hr>
            <h6> Correcciones de STOCK Materia Prima ___/___/___ <span class="tab2"></span>STOCK Envases ___/___/___
                <span class="tab2"></span>STOCK Producto Terminado ___/___/___</h6>
        </div>
    </div>

</div>

<div class="yesPrint" *ngIf="disableYesPrint">
    <b>
        <h2>
            REVESTA S.A.I.C. <span class="tab2"></span><span class="tab1">
            </span>PREPESADO DEL BATCH TICKET {{proximoBatch}}
        </h2>
    </b>
    <br><br>
    <pre>
        CODIGO: {{id}} <span class="tab2"></span><span class="tab2"></span> PRODUCTO: {{descripcion}} {{componente}} {{color}}
        ETIQUETADO COMO: {{descripcionEtiquetas}} - {{colorEtiquetas}}
        CANTIDAD: {{cantidadPlani | numeralPipe: 'true'}} {{unidadmedida}} - (<span *ngIf="unidadmedida=='LT'"> {{(cantidadPlani * pesoespecifico) | numeralPipe: 'true'}} Kg</span><span *ngIf="unidadmedida=='KG'"> {{cantidadPlani | numeralPipe}} Kg</span>) <span class="tab1"></span> FECHA EMISION: {{fechaDelDia}} 
        OPERARIO: ___________________ <span class="tab1"></span> FECHA PREPARADO PREPESADO: ___/___/ ___ <br>
        RECIBIO Y CONTROLO: ___________________ <span class="tab1"></span>FECHA: ___/___/ ___  <span class="tab1"></span>HORA: _________
    </pre>
    <td *ngIf="tfa != 'T'">
        <table>
            <tr>
                <th></th>
                <th>MP</th>
                <th>PT</th>
                <th>DESCRIPCION</th>
                <th>CANTIDAD</th>
                <th>LOTE Nro.</th>
                <th>PREPESADO</th>
                <th>RGO/PROT</th>
            </tr>
            <tr *ngFor="let item of arrayAsoc; let i = index;">
                <ng-container layout="row" *ngIf="item.mpi != 'I' && item.ind[2] != 'SOLVENTE'">;
                    <td>{{item.orden}}</td>
                    <td>{{item.codmp}}</td>
                    <td>{{item.codpt}}</td>
                    <td>{{item.descripcion}}</td>
                    <td *ngIf="unidadmedida == 'KG' && item.cantidad" class="text-right">
                        {{(item.cantidad*cantidadPlani)/100 | numeralPipe: 'true'}}0</td>
                    <td *ngIf="unidadmedida == 'LT' && item.cantidad" class="text-right">
                        {{(item.cantidad*cantidadPlani*pesoespecifico)/100 | numeralPipe: 'true'}}0</td>
                    <td *ngIf="!item.cantidad"> </td>
                    <td></td>
                    <td></td>
                    <td class="text-center">{{item.ind[1]}}</td>
                </ng-container>
            </tr>
        </table>
        <br>
        <hr><br><br>
        <h2>
            <span class="text-md-center">SEPARADO, ENVASAMIENTO Y ETIQUETADO LATAS DEL BATCH TICKET
                {{proximoBatch}}</span>
        </h2>
        <table>
            <tr>
                <th>CODMP</th>
                <th>FRACCIONAMIENTO SOLICITADO</th>
                <th>ENVASADO</th>
                <th>CANTIDAD</th>
                <th>SEPARADO</th>
                <th>ETIQUETADO</th>
                <th>REALIZO TAREA</th>
            </tr>
            <tr *ngFor="let item of arrayConj">
                <ng-container layout="row" *ngIf="item.indice != ''">
                    <td>{{item.codmp}}</td>
                    <td>{{item.descripcion}}</td>
                    <td class="text-right">{{item.envasado | numeralPipe}}</td>
                    <td *ngIf="item.indice != 0 && item.indice != ''" class="text-right">{{item.indice}}
                    </td>
                    <td *ngIf="item.indice == 0 || item.indice == ''" class="text-right">0</td>
                    <td>____________</td>
                    <td>____________</td>
                    <td>____________</td>
                </ng-container>
            </tr>
        </table>
        <hr><br><br>
        <h2>
            <span style="text-align: center;">ETIQUETAS PARA IDENTIFICAR BATCH TICKET {{proximoBatch}}</span>
        </h2>
        <div *ngFor="let item of arrayAsoc; let i = index;">
            <ng-container layout="row" *ngIf="item.mpi != 'I' && item.ind[2] != 'SOLVENTE'">
                --------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8<
                    -------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8< -------- 8<
                    -------- 8< -------- <div style="font-size: 15px; font-weight: bold; ">Batch: {{proximoBatch}} <span
                        class="tab1"></span>
                    CODIGO: {{id}}
        </div><br>
        Item : {{item.orden}} <br>
        <div style="font-size: 25px; font-weight: bold; text-align: center;"> {{item.codmp}}{{item.codpt}} -
            {{item.descripcion}}</div>
        <div style="font-size: 25px; font-weight: bold; text-align: right;"
            *ngIf="unidadmedida == 'KG' && item.cantidad">
            Cantidad: {{(item.cantidad*cantidadPlani)/100 | numeralPipe: 'true'}}0 - kg</div>
        <div style="font-size: 25px; font-weight: bold; text-align: right;"
            *ngIf="unidadmedida == 'LT' && item.cantidad">
            Cantidad: {{(item.cantidad*cantidadPlani*pesoespecifico)/100 | numeralPipe: 'true'}}0 - kg</div>
        </ng-container>
</div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PRODUCTOS PARA ELABORAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">Código</label>
                            <input (keyup)="buscarPlan()" [(ngModel)]="codptB" type="number" class="form-control"
                                id="recipient-name000">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">Descripción</label>
                            <input (keyup)="buscarPlan()" [(ngModel)]="descripcionB" type="text" class="form-control"
                                id="recipient-name40987">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name010" class="col-form-label">Cliente</label>
                            <input (keyup)="buscarPlan()" [(ngModel)]="clienteB" type="text" class="form-control"
                                id="recipient-name01908">
                        </div>
                    </div>
                    <div class="col-6">
                        <label style="background-color: greenyellow; ">* ATENCION ! Seleccione T.F.A. * </label>
                        <label>* (por defecto 'F')</label>
                        <div class="input-group">
                            <select class="mt-2 custom-select boldText" [(ngModel)]="tfa" id="inputGroupSelect01">
                                <option value="T">T</option>
                                <option value="F">F</option>
                                <option value="A">A</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div style="overflow: scroll; height: 300px; width: 100%;">
                    <table class="table table-hover">
                        <tr>
                            <th>CODIGO</th>
                            <th>DESCRIPCION</th>
                            <th>CANTIDAD</th>
                            <th>ENVASADO SOLICITADO</th>
                            <th>CLIENTE</th>
                            <!-- <th>LOTE</th> -->
                            <th>FECHA PROMETIDA</th>
                            <!-- <th>OPERARIO</th>
                            <th>PROCESO</th>
                            <th>DISPERSORA</th>
                            <th>MOLINO</th> -->
                        </tr>
                        <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayB"
                            (click)="traerDatos(item2.id, item2.codpt)" style="cursor: pointer;">
                            <td>{{item2.codpt}}</td>
                            <td>{{item2.descripcion}}</td>
                            <td>{{item2.cantidad}}</td>
                            <td>{{item2.formaenv}}</td>
                            <td>{{item2.cliente}}</td>
                            <!-- <td>{{item2.lote}}</td> -->
                            <td>{{item2.fechacompr | datePipe}}</td>
                            <!-- <td>{{item2.operario}}</td>
                            <td>{{item2.proceso}}</td>
                            <td>{{item2.dispersora}}</td>
                            <td>{{item2.molino}}</td> -->
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-6">
                    <button type="button" class="btn-warning ml-5 btn" (click)="calcularPlanProduccion()"
                        [disabled]="!pendientes && arrayB.length == 0">Imprimir planificación de
                        produccion</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn" style="background-color: rgb(190, 171, 131);"
                        (click)="resetear1()">Resetear</button>
                    <button type="button" class="btn btn-info ml-2 mr-2" (click)="listarPendientes()">Listar
                        Pendientes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>