
<div class="jumbotron bg-success text-white text-center w-100">
    <h2>¡Bienvenido al sistema!</h2>
    <hr class="bg-light">
</div>

<div class="row">
    <div class="col-6 m-auto">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-6">
                    <input (keyup.enter)="login()" class="form-control" type="text" placeholder="Ingrese su nombre de usuario" [(ngModel)]="username">
                </div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input (keyup.enter)="login()" class="form-control" [type]="inputType" [(ngModel)]="password"
                        placeholder="Ingrese su contraseña" aria-label="Recipient's password" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">

                              <!-- OJO PARA REVELAR -->

                                <svg *ngIf="inputType=='password'" (click)="changePassword()" class="bi bi-eye-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>

                                <!-- OJO PARA OCULTAR -->

                                <svg *ngIf="inputType=='text'" (click)="changePassword()" class="bi bi-eye-slash-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                    <path
                                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z" />
                                    <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z" />
                                </svg>

                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button style="float: right;" class="btn btn-success" (click)="login()">Entrar al sistema</button>
                </div>
            </div>
        </div>
    </div>
</div>