<div class="p-1 mt-2">
  <h5 class="bg-info text-white text-center font-weight-bold">FORMULAS</h5>
</div>
<div class="row mt-2 ml-2">
  <div class="col-1">
    <div class="m-auto" style="width: 100%; ">
      <label for="idp"><b> INGRESE CODIGO P.T.</b></label>
    </div>
  </div>
  <div class="col-2">
    <div class="input-group">
      <input (change)="validarIdprod()" id="idp" [(ngModel)]="idprod" type="number" class="ml-1 form-control boldText">
      <div class="input-group-append">
        <span class="input-group-text boldText" id="basic-addon2">
          <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal3" width="1em" height="1em"
            viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
              clip-rule="evenodd" />
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="m-auto">
      <span class="badge badge-primary" style="font-size: 23px;">{{descripcion1}}</span>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto" style="width: 70%;">
      <label for="TFA"><b>INGRESE F(ormula), T(int) o A(lternativa) </b></label>
    </div>
  </div>
  <div class="col-1">
    <input (change)="validar()" id="TFA" [(ngModel)]="tintoformoalt" type="text" class="ml-1 form-control boldText">
  </div>
  <div class="col-1">
    <span class="badge badge-primary ml-3" style="font-size: 23px;">{{tintoformoalt}}</span>
  </div>
  <div class="col-1 m-auto">
    <svg *ngIf="idprod" data-toggle="modal" data-target="#exampleModal" class="material-icons"
      class="float-left bi-plus-circle-fill" width="50px" height="50px" style="cursor: pointer;" viewBox="0 0 16 16"
      fill="blue" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z"
        clip-rule="evenodd" />
    </svg>
  </div>
</div>
<hr>
<div class="row m-auto">
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="pe"><b>Peso especifico: </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{pe |
          numeralPipe}}</span></h6>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="ppp"><b>Sólidos PPP: </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{ppp |
          numeralPipe}}</span></h6>
    </div>
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="ppv"><b>Sólidos PPV: </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{ppv |
          numeralPipe}}</span></h6>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="resi"><b>% Resina : </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{resi |
          numeralPipe}}</span></h6>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="pig"><b>% Pigmento : </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{pig |
          numeralPipe}}</span></h6>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="ppv"><b>% Solvente: </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{solv |
          numeralPipe}}</span></h6>
    </div>
  </div>
  <div class="col-2">
    <div class="m-auto ml-2">
      <h6 style="font-size: 15px;" id="pr"><b>Precio: </b><span
          style="font-size: 18px; background-color: rgb(190, 171, 131); font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
          class="badge badge-success">{{pr |
          numeralPipe}}</span></h6>
    </div>
  </div>
</div>
<hr>

<div
  style="overflow: scroll; width: 90%; margin-top: 2%; height: 450px; font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';"
  class="m-auto">
  <ul cdkDropList class="example-list table-fixed" (cdkDropListDropped)="dropped($event)">
    <div class="row w-100">
      <div class="example-box bg-dark text-white text-center p-1">
        <div class="col-1 text-center">
          <h5>ORDEN</h5>
        </div>
        <div class="col-1 text-center">
          <h5>MPI</h5>
        </div>
        <div class="col-1">
          <h5>CODMP</h5>
        </div>
        <div class="col-1" style="text-align: center !important;">
          <h5>CODPT</h5>
        </div>
        <div class="col-3">
          <h5>DESCRIPCION</h5>
        </div>
        <div class="col-2">
          <h5>CANTIDAD</h5>
        </div>
        <div class="col-2">
          <button class="btn btn-outline-info" *ngIf="array.length>0" (click)="cambiarTexto()">{{texto}}</button>
        </div>
      </div>
    </div>

    <div class="row w-100 mt-1">
      <div cdkDrag *ngFor="let item of array; let i = index" style="border-bottom: 0.5px solid rgb(224, 224, 224); "
        class="example-box bg-ligth filaActiva">
        <div class="col-1 text-center">
          <h6 class="" style="font-size: 18px;">{{item.orden }}</h6>
        </div>
        <div class="col-1 ml-3">
          <h6 class="" style="font-size: 18px;">{{item.mpi}}</h6>
        </div>
        <div class="col-1">
          <h6 class="" style="font-size: 18px;">{{item.codmp}}</h6>
        </div>
        <div class="col-1">
          <h6 class="" style="font-size: 18px;">{{item.codpt}}</h6>
        </div>
        <div class="col-4">
          <h6 class="" style="font-size: 18px;">{{item.descripcion}}</h6>
        </div>
        <div class="col-1">
          <h6 style="font-size: 18px;" *ngIf="item.cantidad" class="text-right">{{item.cantidad | numeralPipe}}</h6>
          <h6 style="font-size: 18px;" *ngIf="!item.cantidad"> </h6>
        </div>
        <div *ngIf="!mostrar" class="col-1">
          <td>
            <button (click)="traerFilas(item.ind)" data-toggle="modal" data-target="#exampleModal1"
              class="btn btn-outline-danger"><svg class="bi bi-brush" width="15px" height="15px" viewBox="0 0 16 16"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.213 1.018a.572.572 0 01.756.05.57.57 0 01.057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z" />
                <path d="M7 12a2 2 0 01-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 012 2z" />
              </svg></button>
          </td>
        </div>
        <div *ngIf="!mostrar" class="col-1">
          <td>
            <button (click)="borraFila(i)" class="btn btn-outline-primary"><svg class="bi bi-trash-fill" width="15px"
                height="15px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                  clip-rule="evenodd" />
              </svg></button>
          </td>
        </div>
        <span style="display: none;" cdkDragHandle></span>
        <div class="col-2" cdkDragHandle *ngIf="mostrar && array.length>0" style="cursor: move;">
          <div class="m-auto w-50">
            <svg width="90%" style="height: 30px;" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>

<div class="float-right mt-3 mb-3" style="margin-right: 6%;">
  <button [disabled]="!descripcion1" class="mr-5 btn btn-primary" (click)="eliminarTodo(false)">Cancelar</button>
  <button [disabled]="!descripcion1" class="btn btn-success" (click)="finalizar()">Aceptar</button>
</div>

<div class="row mt-3">
  <div style="width: 40%; margin-left: 71%;">
    <h6 class="text-success boldText" id="sumTot" *ngIf="sumaTot<=100"><b>Suma de cantidades: {{sumaTot |
        numeralPipe}}</b></h6>
    <h6 class="text-danger boldText" id="sumTot" *ngIf="sumaTot>100"><b>Suma de cantidades: {{sumaTot |
        numeralPipe}}</b></h6>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NUEVA FILA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Seleccione <b>M</b>(ateria prima) <b>P</b>(roducto
            terminado) o <b>I</b>(nstrucción)</label>
          <div class="input-group">
            <select class="mt-2 custom-select boldText" [(ngModel)]="mpi" id="recipient-name"
              style="font-size: 18px; text-transform:uppercase;">
              <option value="M">M</option>
              <option value="P">P</option>
              <option value="I">I</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="recipient-name1" class="col-form-label">Código MP</label>
            <div class="input-group">
              <input [disabled]="!mpi || mpi == 'I' || mpi =='i' || mpi == 'P' || mpi == 'p' " (change)="validarMp()"
                [(ngModel)]="codmp" type="number" class="form-control" id="recipient-name1" style="font-size: 18px;"
                id="codmp">
              <div class="input-group-append">
                <span class="input-group-text boldText" id="basic-addon2">
                  <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal4" width="1em"
                    height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                      clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <label for="recipient-name2" class="col-form-label">Código PT</label>
            <div class="input-group">
              <input [disabled]="!mpi || mpi == 'I' || mpi =='i' || mpi == 'M' || mpi == 'm' "
                (change)="validarpt(true)" type="number" [(ngModel)]="codpt" class="form-control" id="recipient-name2"
                style="font-size: 18px;">
              <div class="input-group-append">
                <span class="input-group-text boldText" id="basic-addon2">
                  <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal2" width="1em"
                    height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg"
                    visibility="hidden">
                    <path fill-rule="evenodd"
                      d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                      clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                      d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="recipient-name3" class="col-form-label">Descripción</label>
          <input type="text" [disabled]="!mpi || mpi == 'P' || mpi =='p' || mpi == 'M' || mpi == 'm' "
            [(ngModel)]="descripcion" class="form-control" id="recipient-name3" maxlength="65" style="font-size: 18px;">
        </div>
        <div class="form-group">
          <label for="recipient-name4" class="col-form-label">Cantidad</label>
          <input step="0.01" type="number" (keypress)="omit_number($event)" [disabled]="!mpi || mpi == 'I' || mpi =='i'"
            [(ngModel)]="cantidad" class="form-control" id="recipient-name4" style="font-size: 18px;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="cargar()">Cargar</button>
        <button type="button" class="btn" style="background-color: rgb(190, 171, 131);"
          (click)="resetear()">Resetear</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDITAR FILA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="recipient-name0" class="col-form-label">Seleccione <b>M</b>(ateria prima) <b>P</b>(roducto
                terminado) o <b>I</b>(nstrucción)</label>
              <div class="input-group">
                <select class="mt-2 custom-select boldText" [(ngModel)]="mpi" id="recipient-name0"
                  style="font-size: 18px; text-transform:uppercase;">
                  <option value="M">M</option>
                  <option value="P">P</option>
                  <option value="I">I</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class=" row">
          <div class="col">
            <div class="form-group">
              <label for="recipient-name01" class="col-form-label">Código MP</label>
              <input [disabled]="mpi == 'I' || mpi =='i' || mpi == 'P' || mpi == 'p' " (change)="validarMp()"
                [(ngModel)]="codmp" type="number" class="form-control" id="recipient-name01" style="font-size: 18px;">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="recipient-name02" class="col-form-label">Código PT</label>
              <input [disabled]="mpi == 'I' || mpi =='i' || mpi == 'M' || mpi == 'm' " (change)="validarpt(true)"
                type="number" [(ngModel)]="codpt" class="form-control" id="recipient-name02" style="font-size: 18px;">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="recipient-name03" class="col-form-label">Descripción</label>
          <input type="text" [disabled]="mpi == 'P' || mpi =='p' || mpi == 'M' || mpi == 'm' " [(ngModel)]="descripcion"
            class="form-control" id="recipient-name03" style="font-size: 18px;">
        </div>
        <div class="form-group">
          <label for="recipient-name04" class="col-form-label">Cantidad</label>
          <input step="0.01" type="number" (keypress)="omit_number($event)" [disabled]="mpi == 'I' || mpi =='i'"
            [(ngModel)]="cantidad" class="form-control" id="recipient-name04" style="font-size: 18px;">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetear()">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="editar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 90%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PRODUCTOS TERMINADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">Código</label>
              <input (keyup)="buscarP()" [(ngModel)]="idBus" type="number" class="form-control" id="recipient-name40">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">Descripción</label>
              <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control" id="recipient-name40">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="recipient-name010" class="col-form-label">Color</label>
              <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control" id="recipient-name01">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="recipient-name012" class="col-form-label">Componente</label>
              <input (keyup)="buscarP()" type="text" [(ngModel)]="termino3" class="form-control" id="recipient-name02">
            </div>
          </div>
        </div>

        <div style="overflow: scroll; height: 300px; width: 100%;">
          <table class="table table-hover">
            <tr>
              <th>CODIGO</th>
              <th>DESCRIPCIÓN</th>
              <th>COLOR</th>
              <th>COMPONENTE</th>
            </tr>
            <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
              (click)="seleccionarId(item2.id)">
              <td>{{item2.id}}</td>
              <td>{{item2.descripcion}}</td>
              <td>{{item2.color}}</td>
              <td>{{item2.componente}}</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: rgb(190, 171, 131);"
          (click)="resetear()">Resetear</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 90%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE MATERIAS PRIMAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">CODIGO DE LA MATERIA PRIMA:</label>
              <input (keyup)="buscarMp()" [(ngModel)]="termino1" type="number" class="form-control"
                id="recipient-name40">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">DESCRIPCIÓN:</label>
              <input (keyup)="buscarMp()" [(ngModel)]="termino2" type="text" class="form-control" id="recipient-name40">
            </div>
          </div>
        </div>
        <div style="overflow: scroll; height: 300px; width: 100%;">
          <table class="table table-hover">
            <tr>
              <th>COD</th>
              <th>DESCRIPCIÓN</th>
              <th>TIPO</th>
              <th>UNIDAD DE MEDIDA</th>
            </tr>
            <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
              (click)="onMatPriSelected(item2.id)" style="cursor: pointer;">
              <td>{{item2.id}}</td>
              <td>{{item2.descripcion}}</td>
              <td>{{item2.tipo}}</td>
              <td>{{item2.unidadmedidacompra}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: rgb(190, 171, 131); "
          (click)="resetearBusqueda()">Resetear</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" style="font-family: 'Trebuchet MS', 'Bitstream Charter', 'FreeSerif', 'Ubuntu', 'sans-serif';">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width: 90%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PRODUCTOS TERMINADOS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">Código</label>
              <input (keyup)="buscarP()" [(ngModel)]="idBus" type="number" class="form-control" id="recipient-name40">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="recipient-name9" class="col-form-label">Descripción</label>
              <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control" id="recipient-name40">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="recipient-name010" class="col-form-label">Color</label>
              <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control" id="recipient-name01">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="recipient-name012" class="col-form-label">Componente</label>
              <input (keyup)="buscarP()" type="text" [(ngModel)]="termino3" class="form-control" id="recipient-name02">
            </div>
          </div>
        </div>

        <div style="overflow: scroll; height: 300px; width: 100%;">
          <table class="table table-hover">
            <tr>
              <th>CODIGO</th>
              <th>DESCRIPCIÓN</th>
              <th>COLOR</th>
              <th>COMPONENTE</th>
            </tr>
            <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
              (click)="seleccionarId(item2.id)">
              <td>{{item2.id}}</td>
              <td>{{item2.descripcion}}</td>
              <td>{{item2.color}}</td>
              <td>{{item2.componente}}</td>
            </tr>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: rgb(190, 171, 131);"
          (click)="resetear()">Resetear</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>