<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(13, 0, 128)">
  <a class="navbar-brand">
    <img src="./assets/Logo_Revesta.jpg" width="100" height="50" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../app']">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="user_role == 'ADMIN_ROL' || user_role == 'LABORATORIO'" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          MATERIA PRIMA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../altamp']">ALTA Y MODIFICACIÓN</a>
        </div>
      </li>
      <li *ngIf="user_role == 'ADMIN_ROL' || user_role == 'LABORATORIO'" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PRODUCTOS TERMINADOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../altaprod']">ALTA Y MODIFICACIÓN</a>
          <a class="dropdown-item" [routerLink]="['../altafor']">FÓRMULAS</a>
          <a class="dropdown-item" [routerLink]="['../altaenv']">ENVASADO</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          VISUALIZACIONES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../listmp']">MATERIA PRIMA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../listprod']">PRODUCTO TERMINADO</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../listfor']">FÓRMULAS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../listenv']">ENVASADO</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PROCESOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../recepmp']">RECEPCIÓN DE MATERIA PRIMA</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../planifi']">PLANIFICACIÓN DE PRODUCCION</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../ordenp']">EMISIÓN DE ORDEN DE PRODUCCIÓN</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../correc']">CORRECCIÓN DE STOCK</a>
          <div *ngIf="user_role == 'ADMIN_ROL' || user_role == 'LABORATORIO'" class="dropdown-divider"></div>
          <a *ngIf="user_role == 'ADMIN_ROL' || user_role == 'LABORATORIO'" class="dropdown-item"
            [routerLink]="['../anulacion']">ANULACION DE B.T.</a>


        </div>
      </li>
      <li *ngIf="user_role == 'ADMIN_ROL' || user_role == 'LABORATORIO'" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          CONTROL DE CALIDAD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../control']">CONTROL DE CALIDAD M.P.</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../controlpt']">CONTROL DE CALIDAD P.T.</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../certificados']">DATOS PARA EMISION CERTIFICADOS</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../listados/fichas']">LISTAR FICHAS DE EXTENSION</a>

        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          LISTADOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['../listados/lista-funcional']">VARIOS M.P. - ESTADISTICA PRODUCCION</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['../listados/rolodex']">INVENTARIO CONTINUO (ROLODEX)</a>
        </div>
      </li>


    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="salir()">Salir</button>
    </div>
  </div>
</nav>