<div class="notPrint">

  <div class="p-0 mt-1" style="background-color:rgb(190, 171, 131)">
    <h5 class="text-center font-weight-bold">VISUALIZACION DE FORMULAS</h5>
  </div>

  <div class="jumbotron p-2 mt-1"
    style="background-color:rgb(180, 138, 21); font-size: 11px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="row text-white">
      <div class="col-4">
        <div class="m-auto" style="width: 100%; ">
          <span class="ml-2" for="idp">INGRESE CODIGO PRODUCTO</span>
          <div class="input-group">
            <input (change)="validarId()" (keyup)="buscar()" id="idp" [(ngModel)]="idprod" type="number"
              class="ml-1 boldText" style="width: 20%;">
            <div class="input-group-append">
              <span class="input-group-text boldText" id="basic-addon2">
                <svg (click)="resetear1()" data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal3"
                  class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                    clip-rule="evenodd" />
                  <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="">
          <span class="badge badge-primary" style="font-size: 23px;">{{descripcion1}}</span>
        </div>
      </div>
      <div class="col-4 mt-2">
        <div class="m-auto" style="width: 70%;">
          <label for="TFA" style="font-size:15px"><b>F(órmula), T(int) o A(lternativa)</b></label>
          <input (keyup)="buscar()" id="TFA" [(ngModel)]="tintoformoalt" maxlength="1" type="text" class="ml-1 boldText"
            style="width: 10%;">
          <span class="badge badge-primary ml-5" style="font-size: 23px;">{{tintoformoalt}}</span>
        </div>
      </div>
    </div>

    <hr class="bg-light">
    <div class="row m-auto text-white" style="margin-top: 2% !important;">
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="pe"><b>Peso específico: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{pesoespecifico | numeralPipe}}</span>
          </h6>
        </div>
      </div>
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="ppp"><b>Sólidos PPP: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{solidosppp | numeralPipe}}</span></h6>
        </div>
      </div>
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="ppv"><b>Sólidos PPV: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{solidosppv | numeralPipe}}</span></h6>
        </div>
      </div>
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="resi"><b>% Resina: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{resina | numeralPipe}}</span></h6>
        </div>
      </div>
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="pig"><b>% Pigmento: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{pigmento | numeralPipe}}</span></h6>
        </div>
      </div>
      <div class="col-2">
        <div class="m-auto ml-2">
          <h6 style="font-size: 14px;" id="pr"><b>% Solvente: </b><span class="badge"
              style="font-size: 18px; background-color: rgb(190, 171, 131);">{{solvente | numeralPipe}}</span></h6>
        </div>
      </div>

    </div>
    <hr class="bg-light">
  </div>

  <div style="overflow: scroll; height:420px; width: 90%;" class="m-auto">
    <table class="w-100" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      <tr class="text-center" *ngIf="array.length==0">
        <th></th>
      </tr>
      <tr class="bg-dark text-white" *ngIf="array.length > 0">
        <th>CODIGO</th>
        <th>TFA</th>
        <th>ORDEN</th>
        <th>MPI</th>
        <th>CODIGO MP</th>
        <th>CODIGO PT</th>
        <th>DESCRIPCION</th>
        <th>CANTIDAD</th>
      </tr>
      <tr *ngFor="let item of array" class="hoverFila">
        <td style="font-size: 18px;">{{item.idprod}}</td>
        <td style="font-size: 18px;">{{item.tintoformoalt}}</td>
        <td style="font-size: 18px;">{{item.orden}}</td>
        <td style="font-size: 18px;">{{item.mpi}}</td>
        <td style="font-size: 18px;">{{item.codmp}}</td>
        <td style="font-size: 18px;">{{item.codpt}}</td>
        <td style="font-size: 18px;">{{item.descripcion}}</td>
        <td style="font-size: 18px;" *ngIf="item.cantidad" class="text-right">{{item.cantidad | numeralPipe}}</td>
        <td style="font-size: 18px;" *ngIf="!item.cantidad"> </td>
      </tr>

      <tr class="bg-primary">
        <h6 class="text-white p-3" *ngIf="array.length==0"> NO HEMOS ENCONTRADO DATOS CON ESOS PARAMETROS :( </h6>
      </tr>
    </table>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <button [disabled]="!tintoformoalt" class="btn btn-warning float-right mt-1 ml-5" style="margin-right: 7%;"
        (click)="imprimirBusqueda()">IMPRIMIR FICHA DE FORMULACION</button>
    </div>
    <div class="col-1">
      <button class="btn btn-warning float-lg-right" [disabled]="!tintoformoalt" (click)="onExcel()">Generar
        Excel</button>
    </div>
    <div class="col-7">
      <div style="width: 100%; text-align: right;">
        <h5 class="text-success boldText" id="sumTot" *ngIf="sumaTot<=100"><b>Suma de cantidad:
            {{sumaTot | numeralPipe}}</b>
        </h5>
        <h5 class="text-danger boldText" id="sumTot" *ngIf="sumaTot>100"><b>Suma de cantidad:
            {{sumaTot | numeralPipe}}</b>
        </h5>
      </div>
    </div>
    <div class="col-2">
      <button class="btn" [disabled]="!tintoformoalt" style="margin-right: 7%; background-color: rgb(190, 171, 131);"
        (click)="resetearBusqueda()">RESETEAR BUSQUEDA</button>
    </div>
  </div>

  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PRODUCTOS TERMINADOS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="recipient-name9" class="col-form-label">Código</label>
                <input (keyup)="buscarP()" [(ngModel)]="idbus" type="number" class="form-control" id="recipient-name40">
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <label for="recipient-name9" class="col-form-label">Descripción</label>
                <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control"
                  id="recipient-name40">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="recipient-name010" class="col-form-label">Color</label>
                <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control"
                  id="recipient-name01">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="recipient-name012" class="col-form-label">Componente</label>
                <input (keyup)="buscarP()" type="text" [(ngModel)]="termino3" class="form-control"
                  id="recipient-name02">
              </div>
            </div>
          </div>

          <div style="overflow: scroll; height: 200px; width: 100%;">
            <table class="table table-hover">
              <tr>
                <th>CODIGO</th>
                <th>DESCRIPCIÓN</th>
                <th>COLOR</th>
                <th>COMPONENTE</th>
              </tr>
              <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
                (click)="seleccionarIdPt(item2.id)" style="cursor: pointer; ">
                <td style="font-weight: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'">
                  {{item2.id}}</td>
                <td style="font-weight: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'">
                  {{item2.descripcion}}</td>
                <td style="font-weight: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'">
                  {{item2.color}}</td>
                <td style="font-weight: normal; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'">
                  {{item2.componente}}</td>
              </tr>
            </table>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="yesPrint">
  <style>
    .tab1 {
      display: inline-block;
      margin-left: 40px;
    }

    .tab2 {
      display: inline-block;
      margin-left: 260px;
    }

    table {
      border: 0.5px solid #dddddd;
      font-family: arial, helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      padding: 0.1px;
      font-weight: bold;
      font-size: 15pt;
    }

    th {
      border: 0.5px solid #dddddd;
      text-align: center;
      padding: 2.5px;
      font-size: 13px;
    }

    td {
      border: 0.5px solid #dddddd;
      text-align: left;
      padding: 2px;
      font-size: 13pt;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    pre {
      border: 0.5px solid #dddddd;
      padding: 0.5px;
      font-size: 16pt;
      font-family: arial, helvetica, sans-serif;
      line-height: 12pt;
      font-weight: bold;
    }

    hr.new3 {
      border-top: 1px dotted blue;
    }

    h4 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 18pt;
    }
  </style>

  <div class="row">
    <div class="col-4">
      <a class="navbar-brand">
        <img src="./assets/Logo_Revesta.jpg" width="100" height="50" alt="" loading="lazy">
      </a>
    </div>
    <div class="col-8">
      <span align="right">REVESTA S.A.I.C. </span><br>
      <span align="right">Av. Mitre 1249 - Florida</span><br>
      <span align="right">Buenos Aires - Argentina</span><br>
    </div>
  </div>

  <hr class="new3">
  <div>
    <b>
      <h4 class="text-center" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18pt;">
        FICHA DE FORMULACION
        <span *ngIf="tintoformoalt == 'T' || tintoformoalt == 't'"> 'FORMULA PARA TINTURADO' </span>
        <span *ngIf="tintoformoalt == 'F' || tintoformoalt == 'f'"> 'FORMULA PRINCIPAL' </span>
        <span *ngIf="tintoformoalt == 'A' || tintoformoalt == 'a'"> 'FORMULA ALTERNATIVA' </span>
      </h4>
    </b>
  </div>
  <hr class="new3">
  <pre>
  Codigo: {{idprod}} <span class="tab1"></span> Producto: {{descripcion1}} <span *ngIf="colorigual != null "> (tambien color {{colorigual}}) </span>  <br>
  Fecha ultima modificacion: {{ultimamodificacion | datePipe}} <span class="tab1"></span> Reemplaza a __ / __ / __  <span class="tab1"></span> Motivo del cambio: _________________________ <br>
  Relacion de la mezcla: {{relaciondemezcla}} <span class="tab1"></span> <span *ngIf="formaconjunto != null "> Forma conjunto con: {{formaconjunto}} </span>   
  </pre>
  <hr class="new3">
  <b>
    <h4>FORMULA</h4>
  </b>
  <table class="w-100">
    <tr class="text-center" *ngIf="array.length==0">
      <th></th>
    </tr>
    <tr class="bg-dark text-white" *ngIf="array.length > 0">
      <th>ORDEN</th>
      <th>MP</th>
      <th>PT</th>
      <th>DESCRIPCION</th>
      <th>CANTIDAD</th>
    </tr>
    <tr *ngFor="let item of array">
      <td>{{item.orden}}</td>
      <td>{{item.codmp}}</td>
      <td>{{item.codpt}}</td>
      <td>{{item.descripcion}}</td>
      <td *ngIf="item.cantidad" class="text-right">{{item.cantidad | numeralPipe}}</td>
      <td *ngIf="!item.cantidad"> </td>
    </tr>
  </table>
  <br>
  <hr class="new3">
  <b>
    <h4>DATOS FISICOS</h4>
  </b>
  <table>
    <tr>
      <td>Peso Especifico : {{pesoespecifico | numeralPipe}} g/cm3</td>
    </tr>
    <tr>
      <td>Viscosidad CPS : {{viscosidadspindle}} {{spindlenumero}} </td>
      <td>Viscosidad UK : {{viscosidaduk}}</td>
    </tr>
    <tr>
      <td>Molienda : {{molienda}}</td>
      <td>Brillo : {{brillo}}</td>
    </tr>
    <tr>
      <td>Solidos p.p.P. : {{solidosppp }} %</td>
      <td>Solidos p.p.V. : {{solidosppv}} %</td>
    </tr>
    <tr>
      <td>Contenido resina : {{resina}} %</td>
      <td>Contenido pigmento : {{pigmento}} %</td>
      <td>Contenido solvente : {{solvente}} %</td>
    </tr>
    <tr>
      <td>Relacion mezcla: {{relaciondemezcla}}</td>
      <td *ngIf="formaconjunto != null ">con COMP. {{formaconjunto}}</td>
    </tr>
  </table><br>
  <hr class="new3">
  <br>
  <h4>Aprobo:<span class="tab2"></span>Controlo:<span class="tab2"></span>Autorizo:</h4>

</div>