<div class="container">

    <div class="row mt-2">
        <div class="col-3">
            <span>Código del producto</span>
            <input disabled class="form-control" type="number" [(ngModel)]="codpt">
        </div>
        <div class="col-6">
            <span>Descripcion</span>
            <input disabled class="form-control" type="text" [(ngModel)]="descripcion">
        </div>
        <div class="col-2">
            <span>N. Partda</span>
            <input disabled class="form-control" type="text" [(ngModel)]="numeroPartida">
        </div>
        <div class="col-1 text-center">
            <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal1" class="mt-4 bi bi-search"
                width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <span>Peso específico</span>
            <input class="form-control" type="number" [(ngModel)]="pesoespecifico">
        </div>
        <div class="col-4">
            <span>Fecha</span>
            <input class="form-control" type="date" [(ngModel)]="fecha">
        </div>
        <div class="col-4">
            <span>Viscosidad CPS.</span>
            <input class="form-control" type="text" [(ngModel)]="viscosidadcps">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-3">
            <span>Spindle</span>
            <input class="form-control" type="text" [(ngModel)]="spindle">
        </div>
        <div class="col-3">
            <span>Viscosidad UK.</span>
            <input class="form-control" type="text" [(ngModel)]="viscosidaduk">
        </div>
        <div class="col-3">
            <span>Molienda</span>
            <input class="form-control" type="text" [(ngModel)]="molienda">
        </div>
        <div class="col-3">
            <span>Viscosidad Copa</span>
            <input class="form-control" type="text" [(ngModel)]="viscosidadcopa">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <span>Brillo</span>
            <input class="form-control" type="text" [(ngModel)]="brillo">
        </div>
        <div class="col-4">
            <span>Solidos PPP</span>
            <input class="form-control" type="text" [(ngModel)]="solidosppp">
        </div>
        <div class="col-4">
            <span>Aplicabilidad</span>
            <input class="form-control" type="text" [(ngModel)]="aplicabilidad">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <span>Color</span>
            <input class="form-control" type="text" [(ngModel)]="color">
        </div>
        <div class="col-6">
            <span>curado</span>
            <input class="form-control" type="text" [(ngModel)]="curado">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <span>Observaciones</span>
            <input class="form-control" type="text" [(ngModel)]="observaciones">
        </div>
        <div class="col-6">
            <span>Aprobado</span>
            <input class="form-control" type="text" [(ngModel)]="aprobado">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="float-right">
                <button class="btn btn-primary mr-2" (click)="cancelar()">
                    Cancelar operación
                </button>
                <button class="btn btn-success" (click)="actualizarControl()">
                    Postear todo
                </button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE CONTROL DE CALIDAD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">LOTE:</label>
                            <input (keyup)="buscarP()" [(ngModel)]="idBus" type="number" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">DESCRIPCIÓN:</label>
                            <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="recipient-name010" class="col-form-label">TIPO:</label>
                            <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control"
                                id="recipient-name01">
                        </div>
                    </div>
                </div>

                <div style="overflow: scroll; height: 200px; width: 100%;">
                    <table class="table table-hover">
                        <tr>
                            <th>CODPT</th>
                            <th>DESCRIPCIÓN</th>
                            <th>COLOR</th>
                            <th>PARTIDA</th>
                        </tr>
                        <tr class="hoverFila" data-dismiss="modal" *ngFor="let item of arrayCtp"
                            (click)="seleccionarLote(item)" style="cursor: pointer;">
                            <td>{{item.codpt}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.color}}</td>
                            <td>{{item.numeroPartida}}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>