<div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(180, 178, 32)">
    <div class="row">
        <div class="col-12">
            <h2>Existencia en Inventarios (histórico)</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-2">
    </div>
    <div class="col-2">
        <span for="">Desde Materia Prima</span>
        <div class="input-group">
            <input class="form-control w-80 boldText" style="margin: auto;" type="number" [(ngModel)]="desde">
            <div class="input-group-append">
                <span class="input-group-text boldText" id="basic-addon2">
                    <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal3" width="2em"
                        height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
            </div>
        </div>
    </div>
    <div class="col-2">
        <span for="">Hasta Materia Prima</span>
        <input class="form-control w-80 boldText" style="margin: auto;" type="number" [(ngModel)]="hasta">
    </div>
    <div class="col-2">
        <span for="">Desde fecha</span>
        <input class="form-control w-80 boldText" style="margin: auto;" type="date" [(ngModel)]="inicio">
    </div>
    <div class="col-2">
        <span for="">Desde fecha</span>
        <input class="form-control w-80 boldText" style="margin: auto;" type="date" [(ngModel)]="fin">
    </div>
</div>
<div style="overflow: scroll; height:450px; width: 90%; margin: auto;" class="table-striped table-responsive mt-3">

    <table *ngIf="propiedades" class="table table-dark">
        <tr>
            <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
        </tr>
        <tr *ngFor="let item of items">
            <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
        </tr>
    </table>
</div>
<div class="row mt-2">
    <div class="col-9">
        <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
            (click)="resetear()">Resetear</button>
    </div>
    <div class="col-1">
        <button class="btn btn-warning float-lg-right" [disabled]="isValid || !items" data-toggle="modal"
            data-target="#exampleModal">Generar Excel</button>
    </div>
    <div class="col-1">
        <button class="btn btn-success float-lg-right" [disabled]="isValid" (click)="onSubmit()">Realizar
            operacion</button>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 90%;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE MATERIAS PRIMAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">CODIGO DE LA MATERIA PRIMA:</label>
                            <input (keyup)="buscarMp()" [(ngModel)]="termino1" type="number" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">DESCRIPCIÓN:</label>
                            <input (keyup)="buscarMp()" [(ngModel)]="termino2" type="text" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                </div>
                <div style="overflow: scroll; height: 300px; width: 100%;">
                    <table class="table table-hover">
                        <tr>
                            <th>COD</th>
                            <th>DESCRIPCIÓN</th>
                            <th>TIPO</th>
                            <th>UNIDAD DE MEDIDA</th>
                        </tr>
                        <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
                            (click)="seleccionarId(item2.id)" style="cursor: pointer;">
                            <td>{{item2.id}}</td>
                            <td>{{item2.descripcion}}</td>
                            <td>{{item2.tipo}}</td>
                            <td>{{item2.unidadmedidacompra}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: rgb(190, 171, 131); "
                    (click)="resetearBusqueda()">Resetear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ingrese nombre de tabla excel a crear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input placeholder="Nombre del archivo" [(ngModel)]="nombreArchivo" type="text" class="form-control">
                <input placeholder="Nombre de la hoja" [(ngModel)]="nombreHoja" type="text" class="form-control mt-3">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" [disabled]="!nombreArchivo || !nombreHoja"
                    (click)="onExcel()" data-dismiss="modal">Guardar y generar excel</button>
            </div>
        </div>
    </div>
</div>