<app-navbar></app-navbar>

<div class="jumbotron">
    <h3>
        Este es el inicio - seleccione la opción deseada
    </h3>
</div>

<h1>
    <div class="row mt-3">
        <div class="col-5 m-auto w-50 font-italic font-weight-bolder">
            <p style="font-family: georgia,garamond,serif; font-size: larger; color: rgb(187, 79, 79); "> {{frase}} </p>        
        </div>
    </div>
</h1>
<h2>
    <div class="row mt-3">
        <div class="col-10 align-bottom text-right font-weight-light">
            {{autor}}
        </div>
    </div>
</h2>




<body>
    <h2>
        <div style="position: relative">
            <p style="font-family: serif; position: fixed; bottom: 0; width:100%; text-align: center; font-style: italic;"> Gracias Fernando !!
            </p>
        </div>
    </h2>
</body>