<div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(86,169,97)">
    <div class="row">
        <div class="col-6">
            <h2>Datos para completar Certificados de Calidad</h2>
            <hr>
        </div>
        <div class="col-4 text-center">
            <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal1" class="mt-2 bi bi-search"
                width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                    clip-rule="evenodd" />
                <path fill-rule="evenodd"
                    d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    </div>
</div>

<div class="container">

    <div class="row mt-2">
        <div class="col-4">
            <span>Descripción</span>
            <input type="text" class="form-control boldText" [(ngModel)]="descripcion" id="descripcion" placeholder="nombre del producto"
                (change)="onDescripcionChange()" style="text-transform: uppercase; ">
        </div>
        <div class="col-8">
            <span>Tipo generico</span>
            <input type="text" class="form-control boldText" [(ngModel)]="tipo">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4 m-auto">
            <span>Sólidos por volumen</span>
            <input type="text" class="form-control boldText " [(ngModel)]="solidos">
        </div>
        <div class="col-4 m-auto">
            <span>Espesor por mano</span>
            <input type="text" class="form-control boldText" [(ngModel)]="espesormano">
        </div>
        <div class="col-4 m-auto">
            <span>Relación de la mezla</span>
            <input type="text" class="form-control boldText" [(ngModel)]="relacionmezcla">
        </div>
    </div>
    <div>
        <table class="table mt-4">
            <thead class="thead-dark table-sm text-center">
                <tr>
                    <th></th>
                    <th>Horas</th>
                    <th>Temperatura</th>
                    <th>H.R.A.</th>
                </tr>
                <tr>
                    <td style="font-size: 19px" class="align-middle">Vida util de la mezcla</td>
                    <td><input type="text" class="form-control boldText" placeholder="horas" [(ngModel)]="vidamezcla">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="grados C" [(ngModel)]="temp1">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="% HRA" [(ngModel)]="hra1"></td>
                </tr>
                <tr>
                    <td style="font-size: 19px" class="align-middle">Seco al tacto</td>
                    <td><input type="text" class="form-control boldText" placeholder="horas" [(ngModel)]="secotacto">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="grados C" [(ngModel)]="temp2">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="% HRA" [(ngModel)]="hra2"></td>
                </tr>
                <tr>
                    <td style="font-size: 19px" class="align-middle">Secado duro</td>
                    <td><input type="text" class="form-control boldText" placeholder="horas" [(ngModel)]="secoduro">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="grados C" [(ngModel)]="temp3">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="% HRA" [(ngModel)]="hra3"></td>
                </tr>
                <tr>
                    <td style="font-size: 19px" class="align-middle">Tiempo para recubrir</td>
                    <td><input type="text" class="form-control boldText" placeholder="horas" [(ngModel)]="pararecubrir">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="grados C" [(ngModel)]="temp4">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="% HRA" [(ngModel)]="hra4"></td>
                </tr>
                <tr>
                    <td style="font-size: 19px" class="align-middle">Curado completo</td>
                    <td><input type="text" class="form-control boldText" placeholder="horas" [(ngModel)]="curado"> </td>
                    <td><input type="text" class="form-control boldText" placeholder="grados C" [(ngModel)]="temp5">
                    </td>
                    <td><input type="text" class="form-control boldText" placeholder="% HRA" [(ngModel)]="hra5"></td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="row mt-2">
        <div class="col-4 m-auto">
            Vida util en estiba<input type="text" class="form-control boldText" [(ngModel)]="vidaalmacen">
        </div>
        <div class="col-4 m-auto">
            Solvente para dilución<input type="text" class="form-control boldText" [(ngModel)]="dilucion">
        </div>
        <div class="col-4 m-auto">
            Solvente para limpieza<input type="text" class="form-control boldText" [(ngModel)]="limpeza">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="float-right">
                <button [disabled]="!descripcion" class="btn btn-primary mr-2" (click)="cancelar()">Cancelar</button>
                <button [disabled]="!descripcion" class="btn btn-success" (click)="onSubmit()">Cargar datos</button>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5>BUSQUEDA DE CERTIFICADO</h5>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <input [(ngModel)]="descripcionB" (keyup)="buscarCertificado()" class="form-control" type="text"
                            placeholder="Ingrese la descripcion">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div style="overflow: scroll; height: 300px; width: 100%;">
                            <table class="table w-100 table-dark">
                                <thead>
                                    <tr>
                                        <th>DESCRIPCION</th>
                                        <th>TIPO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-dismiss="modal" *ngFor="let item of arrayB" (click)="seleccionarItem(item.descripcion)" style="cursor: pointer">
                                        <td>{{item.descripcion}}</td>
                                        <td>{{item.tipo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-info" (click)="resetear()">Resetear</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>