.bgA{
    background-color: blue;
    font-size: 17px;
}
.bgD{
    background-color: coral;
    font-size: 17px;
}
.bgE{
    background-color: red;
    font-size: 17px;
}
.bgI{
    background-color: pink;
    color: black;
    font-size: 17px;
}
.bgL{
    background-color: salmon;
    color: black;
    font-size: 17px;
}
.bgM{
    background-color: rgb(80, 145, 141);
    color: black;
    font-size: 17px;
}
.bgP{
    background-color: skyblue;
    color: black;
    font-size: 17px;
}
.bgR{
    background-color: yellow;
    color: black;
    font-size: 17px;
}
.bgS{
    background-color: green;
    font-size: 17px;
}