<div class="p-5 notPrint">
    <div class="mb-5">
        <div class="row">
            <div class="col-3">
                <input *ngIf="!esPlani" class="form-control w-50" style="margin: auto;" type="number"
                    placeholder="Desde..." [(ngModel)]="desde">
                <input *ngIf="sonFechas" class="form-control w-50" style="margin: auto;" type="date"
                    placeholder="Desde..." [(ngModel)]="inicio">
            </div>
            <div class="col-3">
                <input *ngIf="!esPlani" class="form-control w-50" style="margin: auto;" type="number"
                    placeholder="Hasta..." [(ngModel)]="hasta">
                <input *ngIf="sonFechas" class="form-control w-50" style="margin: auto;" type="date"
                    placeholder="Hasta..." [(ngModel)]="fin">
            </div>
            <div class="col-2">
                <div class="input-group">
                    <select (change)="isValid" class="custom-select boldText" [(ngModel)]="operacion"
                        id="inputGroupSelect01">
                        <option value="RANGO">RANGO POR ID - M.P.</option>
                        <option value="MINIMO">STOCK BAJO MINIMO MP</option>
                        <option value="RANGOMOV">RANGO POR ID - MOVIMIENTOS</option>
                        <option value="RANGOMOVD">RANGO POR ID - MOVIMIENTOS - COMPRAS</option>
                        <option value="RANGOFECHAS">RANGO POR FECHA - ESTADISTICA PRODUCCION</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-success" [disabled]="isValid" (click)="onSubmit(true)">Realizar
                    operacion</button>
            </div>
            <div class="col-2">
                <button class="btn btn-success" [disabled]="isValid || !items" data-toggle="modal"
                    data-target="#exampleModal">Generar Excel</button>
            </div>
        </div>
    </div>



    <div style="overflow: scroll; height:450px; width: 90%; margin: auto;" class="table-striped table-responsive">

        <table *ngIf="propiedades" class="table table-dark">
            <tr>
                <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
            </tr>
            <tr *ngFor="let item of items">
                <td [ngClass]="{
                    'bgA' : item.bgA,
                    'bgD' : item.bgD,
                    'bgE' : item.bgE,
                    'bgI' : item.bgI,
                    'bgL' : item.bgL,
                    'bgM' : item.bgM,
                    'bgP' : item.bgP,
                    'bgR' : item.bgR,
                    'bgS' : item.bgS
                }" *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
            </tr>
        </table>

    </div>

    <div class="row mt-3" *ngIf="esPlani">
        <div class="col">
            <h3 align="center">
                Suma Total: {{sumaTotal | numeralPipe}}
            </h3>
        </div>
        <div class="col-6">
            <button [disabled]="!items || items.length == 0" (click)="calcularCantidadesFabricadasEnPlani()"
                class="btn btn-outline-success float-right">
                Calcular y agrupar
            </button>

            <button [disabled]="!items || items.length == 0" (click)="onPrint()"
            class="btn btn-outline-success float-right">
            Imprimir
        </button>
        </div>
    </div>

    <div class="row mt-3" *ngIf="operacion == 'RANGOMOVD'">
        <div class="col">
            <h3 align="center">
                Salfo Final: {{saldoFinal | numeralPipe}}
            </h3>
        </div>
        <div class="col-6">
            <button [disabled]="!items || items.length == 0" (click)="calcularSaldoFinal()"
                class="btn btn-outline-success float-right">
                Calcular Saldo final
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese datos de excel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input placeholder="Nombre del archivo" [(ngModel)]="nombreArchivo" type="text"
                        class="form-control">
                    <input placeholder="Nombre de la hoja" [(ngModel)]="nombreHoja" type="text"
                        class="form-control mt-3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" [disabled]="!nombreArchivo || !nombreHoja"
                        (click)="onExcel()">Guardar y generar excel</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="yesPrint">
    <table *ngIf="propiedades" class="table table-dark">
        <tr>
            <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
        </tr>
        <tr *ngFor="let item of items; let i = index">
            <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>COMPONENTE</th>
            <th>SUBTOTAL</th>
        </tr>
        <tr *ngFor="let item of subtotales">
            <td>{{item.titulo}}</td>
            <td>{{item.subtotal}}</td>
        </tr>
    </table>
</div>