<div class="p-1 notPrint">
    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(180, 178, 32)">
        <div class="row">
            <div class="col-6">
                <h2>Listados</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-2">
            <span class="ml-2">Listado a realizar</span>
            <div class="input-group" placeholder="Seleccionar listado">
                <select (change)="isValid" class="custom-select boldText ml-2" [(ngModel)]="operacion"
                    id="inputGroupSelect01">
                    <option value="RANGO">Listado de Materias Primas por rango</option>
                    <option value="MINIMO">Stock bajo mínimo de Materias Primas</option>
                    <option value="RANGOMOVD">Compras de Materias Primas por rango de fechas</option>
                    <option value="RANGOMOV">Movimientos de Materias Primas por rango de fechas</option>
                    <option value="MPENFORMULAS">Busqueda de Materias Primas en Fórmulas</option>
                    <option value="RANGOFECHAS">Estadística de producción por rango de fechas</option>
                </select>
            </div>
        </div>
        <div class="col-2 mt-4" *ngIf='operacion != "MINIMO"'>
            <input *ngIf="!esPlani && !esMp" class="form-control boldText" type="number" placeholder="Desde MP..."
                [(ngModel)]="desde">
        </div>
        <!-- Para codmp -->
        <div class="col-2 mt-4" *ngIf='operacion != "MINIMO"'>
            <input *ngIf="esMp" class="form-control boldText" type="number" [(ngModel)]="codmp"
                placeholder="Codigo de Materia prima...">
        </div>
        <div class="col-2 mt-4" *ngIf='operacion != "MINIMO"'>
            <input *ngIf="!esPlani && !esMp" class="form-control boldText" type="number" placeholder="Hasta MP..."
                [(ngModel)]="hasta">
        </div>
        <div class="col-2 mt-2" *ngIf='operacion != "MINIMO"'>
            <a *ngIf="sonFechas">Desde fecha</a>
            <input *ngIf="sonFechas" class="form-control boldText" type="date" [(ngModel)]="inicio">
        </div>
        <div class="col-2 mt-2" *ngIf='operacion != "MINIMO"'>
            <a *ngIf="sonFechas">Hasta fecha</a>
            <input *ngIf="sonFechas" class="form-control boldText" type="date" [(ngModel)]="fin">
        </div>
    </div>

    <div style="overflow: scroll; height:450px; width: 90%; margin: auto;" class="table-striped table-responsive">

        <table *ngIf="propiedades" class="table table-dark mt-3">
            <tr>
                <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
            </tr>
            <tr *ngFor="let item of items">
                <td [ngClass]="{
                    'bgA' : item.bgA,
                    'bgD' : item.bgD,
                    'bgE' : item.bgE,
                    'bgI' : item.bgI,
                    'bgL' : item.bgL,
                    'bgM' : item.bgM,
                    'bgP' : item.bgP,
                    'bgR' : item.bgR,
                    'bgS' : item.bgS
                }" *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
            </tr>
        </table>

    </div>

    <div class="row mt-3" *ngIf="esPlani">
        <div class="col-2">
            <button [disabled]="!items || items.length == 0" (click)="calcularCantidadesFabricadasEnPlani()"
                class="btn btn-outline-dark float-right">
                Paso 1 - Calcular y agrupar
            </button>
        </div>
        <div class="col-2; left-align; ">
            <button [disabled]="!items || items.length == 0" (click)="onPrint()"
                class="btn btn-outline-warning float-right">
                Paso 2 - Imprimir
            </button>
        </div>
        <div class="col-2">
            <h3 align="center">
                Suma Total: {{sumaTotal | numeralPipe}}
            </h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
                (click)="resetear()">Resetear</button>
        </div>
        <div class="col-1">
            <button class="btn btn-warning float-lg-right" [disabled]="isValid || !items" data-toggle="modal"
                data-target="#exampleModal">Generar Excel</button>
        </div>
        <div class="col-1">
            <button class="btn btn-success float-lg-right" [disabled]="isValid" (click)="onSubmit(true)">Realizar
                operacion</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese nombre de tabla excel a crear</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input placeholder="Nombre del archivo" [(ngModel)]="nombreArchivo" type="text"
                        class="form-control">
                    <input placeholder="Nombre de la hoja" [(ngModel)]="nombreHoja" type="text"
                        class="form-control mt-3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" [disabled]="!nombreArchivo || !nombreHoja"
                        (click)="onExcel()" data-dismiss="modal">Guardar y generar excel</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="yesPrint">
    <h3 class="text-center">
        ESTADISTICA DE PRODUCCION desde {{inicio | datePipe}} hasta {{fin | datePipe}}
    </h3><br>
    <table *ngIf="propiedades" class="table table-dark">
        <tr>
            <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
        </tr>
        <tr *ngFor="let item of items; let i = index">
            <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>COMPONENTE</th>
            <th>SUBTOTAL</th>
        </tr>
        <tr *ngFor="let item of subtotales">
            <td>{{item.titulo}}</td>
            <td>{{item.subtotal}}</td>
        </tr>
    </table>
</div>