.bgA{
    background-color: lightblue;
}
.bgD{
    background-color: lightcoral;
}
.bgE{
    background-color: lightcyan;
}
.bgI{
    background-color: lightpink;
}
.bgL{
    background-color: lightsalmon;
}
.bgM{
    background-color: lightseagreen;
}
.bgP{
    background-color: lightskyblue;
}
.bgR{
    background-color: lightyellow;
}
.bgS{
    background-color: lightgreen;
}