<div class="p-1 notPrint">
    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(180, 178, 32)">
        <div class="row">
            <div class="col-6">
                <h2>Listados</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mt-2">
            <span class="ml-2">Listado a realizar</span>
            <div class="input-group" placeholder="Seleccionar listado">
                <select (change)="isValid" class="custom-select boldText ml-2" [(ngModel)]="operacion"
                    id="inputGroupSelect01">
                    <option value="RANGO">Listado de Materias Primas por rango</option>
                    <option value="MINIMO">Stock bajo mínimo de Materias Primas</option>
                    <option value="RANGOMOVD">Compras de Materias Primas por rango de fechas</option>
                    <option value="RANGOMOV">Movimientos de Materias Primas por rango de fechas</option>
                    <option value="MPENFORMULAS">Busqueda de Materias Primas en Fórmulas</option>
                    <option value="RANGOFECHAS">Estadística de producción por rango de fechas</option>
                </select>
            </div>
        </div>
        <div class="col-2 mt-4">
            <div class="input-group" *ngIf='operacion != "MINIMO" && !esPlani && !esMp || operacion == "MPENFORMULAS"'>
                <input class="form-control boldText" type="number" [(ngModel)]="desde" id="desde"
                    placeholder="Desde MP...">
                <div class="input-group-append" *ngIf='operacion != "MINIMO" && !esPlani && !esMp || operacion == "MPENFORMULAS"'>
                    <span class="input-group-text boldText" id="basic-addon2">
                        <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal3" width="1em"
                            height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-2 mt-4" *ngIf='operacion != "MINIMO" && !esPlani && !esMp && operacion != "MPENFORMULAS"'>
            <input class="form-control boldText" type="number" placeholder="Hasta MP... " [(ngModel)]="hasta" id="hasta">
        </div>

        <div class="col-4 mt-4" *ngIf="operacion == 'MPENFORMULAS'">
            <h3>
                <p>{{mpDescription}}</p>
            </h3>
        </div>
        <div class="col-2 mt-2" *ngIf='operacion != "MINIMO" && sonFechas'>
            <a>Desde fecha</a>
            <input class="form-control boldText" type="date" [(ngModel)]="inicio">
        </div>
        <div class="col-2 mt-2" *ngIf='operacion != "MINIMO" && sonFechas'>
            <a>Hasta fecha</a>
            <input class="form-control boldText" type="date" [(ngModel)]="fin">
        </div>
    </div>

    <div style="overflow: scroll; height:450px; width: 90%; margin: auto;" class="table-striped table-responsive">

        <table *ngIf="propiedades" class="table table-dark mt-3">
            <tr>
                <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
            </tr>
            <tr *ngFor="let item of items">
                <td [ngClass]="{
                    'bgA' : item.bgA,
                    'bgD' : item.bgD,
                    'bgE' : item.bgE,
                    'bgI' : item.bgI,
                    'bgL' : item.bgL,
                    'bgM' : item.bgM,
                    'bgP' : item.bgP,
                    'bgR' : item.bgR,
                    'bgS' : item.bgS,
                    'bgT' : item.bgT
                }" *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
            </tr>
        </table>

    </div>

    <div class="row mt-3" *ngIf="esPlani">
        <div class="col-2">
            <button [disabled]="!items || items.length == 0" (click)="calcularCantidadesFabricadasEnPlani()"
                class="btn btn-outline-dark float-right">
                Paso 1 - Calcular y agrupar
            </button>
        </div>
        <div class="col-2; left-align; ">
            <button [disabled]="!items || items.length == 0" (click)="onPrint()"
                class="btn btn-outline-warning float-right">
                Paso 2 - Imprimir
            </button>
        </div>
        <div class="col-2">
            <h3 align="center">
                Suma Total: {{sumaTotal | numeralPipe}}
            </h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-9">
            <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
                (click)="resetear()">Resetear</button>
        </div>
        <div class="col-1">
            <button class="btn btn-warning float-lg-right" [disabled]="isValid || !items" data-toggle="modal"
                data-target="#exampleModal">Generar Excel</button>
        </div>
        <div class="col-1">
            <button class="btn btn-success float-lg-right" [disabled]="isValid" (click)="onSubmit(true)">Realizar
                operacion</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ingrese nombre de tabla excel a crear</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input placeholder="Nombre del archivo" [(ngModel)]="nombreArchivo" type="text"
                        class="form-control">
                    <input placeholder="Nombre de la hoja" [(ngModel)]="nombreHoja" type="text"
                        class="form-control mt-3">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" [disabled]="!nombreArchivo || !nombreHoja"
                        (click)="onExcel()" data-dismiss="modal">Guardar y generar excel</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="yesPrint">
    <h3 class="text-center">
        ESTADISTICA DE PRODUCCION desde {{inicio | datePipe}} hasta {{fin | datePipe}}
    </h3><br>
    <table *ngIf="propiedades" class="table table-dark">
        <tr>
            <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
        </tr>
        <tr *ngFor="let item of items; let i = index">
            <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>COMPONENTE</th>
            <th>SUBTOTAL</th>
        </tr>
        <tr *ngFor="let item of subtotales">
            <td>{{item.titulo}}</td>
            <td style="text-align: right;">{{item.subtotal | numeralPipe:'true'}}</td>
        </tr>
    </table>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 90%;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE MATERIAS PRIMAS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">CODIGO DE LA MATERIA PRIMA:</label>
                            <input (keyup)="buscarMp()" [(ngModel)]="termino1" type="number" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">DESCRIPCIÓN:</label>
                            <input (keyup)="buscarMp()" [(ngModel)]="termino2" type="text" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                </div>
                <div style="overflow: scroll; height: 300px; width: 100%;">
                    <table class="table table-hover">
                        <tr>
                            <th>COD</th>
                            <th>DESCRIPCIÓN</th>
                            <th>TIPO</th>
                            <th>UNIDAD DE MEDIDA</th>
                        </tr>
                        <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
                            (click)="seleccionarId(item2.id)" style="cursor: pointer;">
                            <td>{{item2.id}}</td>
                            <td>{{item2.descripcion}}</td>
                            <td>{{item2.tipo}}</td>
                            <td>{{item2.unidadmedidacompra}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: rgb(190, 171, 131); "
                    (click)="resetearBusqueda()">Resetear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>