<div class="notPrint">

    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(128, 241, 23)">
        <div class="row">
            <div class="col-6 text-dark">
                <h2>Listado de mantenimiento</h2>
                <hr>
            </div>
        </div>
    </div>


    <div>
        <div class="row mt-4">
            <div class="col-1 mt-2" style="text-align: right;">
                <span class="boldText">Equipo</span>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="equipo" id="equipo">
                        <option value="BALANZA">Balanzas / basculas electronicas</option>
                        <option value="DISPERSORA">Dispersora / Mezcladora</option>
                        <option value="ELEVADOR">Elevador / Apilador</option>
                        <option value="MOLINO">Molino a perlas / rodillos</option>
                        <option value="ZARANDA">Zaranda</option>
                        <option value="ZORRA">Zorra / carrito</option>
                        <option value="VARIOS">Otros equipos Varios</option>
                    </select>
                </div>
            </div>
            <div class="col-2 mt-2" style="text-align: right;">
                <span *ngIf="equipo" class="boldText">Numero de Equipo</span>
            </div>
            <div *ngIf="equipo == 'DISPERSORA'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Dispersora 1  300 Lt">Nro.1 - 300 Lt</option>
                        <option value="Dispersora 2  300 Lt">Nro.2 - 300 Lt</option>
                        <option value="Dispersora 3  300 Lt">Nro.3 - 300 Lt</option>
                        <option value="Dispersora 4  300 Lt">Nro.4 - 300 Lt</option>
                        <option value="Dispersora 5   20 Lt">Nro.5 - 20 Lt</option>
                        <option value="Dispersora 6  600 Lt">Nro.6 - 600 Lt</option>
                        <option value="Dispersora 7 1000 Lt">Nro.7 - 1000 Lt</option>
                        <option value="Dispersora 8 2000 Lt">Nro.8 - 2000 Lt</option>
                        <option value="Dispersora 9 2000 Lt">Nro.9 - 2000 Lt</option>
                        <option value="Dispersora 10  600 Lt">Nro.10 - 600 Lt</option>
                        <option value="Dispersora 11 2000 Lt">Nro.11 - 2000 Lt</option>
                        <option value="Dispersora 12 2500 Lt">Nro.12 - 2500 Lt</option>
                        <option value="Dispersora 13 2500 Lt">Nro.13 - 2500 Lt</option>
                        <option value="Dispersora 14 2500 Lt">Nro.14 - 2500 Lt</option>
                        <option value="Homomixer">Homomixer</option>
                        <option value="Ponimixer">Ponimixer</option>
                        <option value="Doble Z 1 Resina">Nro.1 - Doble Z p/ Resina</option>
                        <option value="Doble Z 2 Endurecedor">Nro.2 - Doble Z p/ Endurecedor</option>
                        <option value="Mezcladora Inertes">Nro.1 - Mezcladora Inertes</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'MOLINO'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Molino 1 WAB 5 Lt">Nro.1 - WAB 5L</option>
                        <option value="Molino 2 LONGLY 20 Lt">Nro.2 - Longly 20L</option>
                        <option value="Molino 3 WAB 25 Lt">Nro.3 - WAB 25L</option>
                        <option value="Molino 4 FARFLY 25 Lt">Nro.4 - Farfly FSZ 25L</option>
                        <option value="Molino 5 FARFLY 5 Lt">Nro.5 - Farfly FSZ 5L</option>
                        <option value="Molino 2 rodillos">Nro.1 - molino 2 rodillos</option>
                        <option value="Molino 3 rodillos">Nro.1 - molino 3 rodillos</option>
                        <option value="Molino Canasto LONGLY">Molino Canasto</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'ZARANDA'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Zaranda 1">Zaranda Nro.1</option>
                        <option value="Zaranda 2">Zaranda Nro.2</option>
                        <option value="Zaranda 3">Zaranda Nro.3</option>
                        <option value="Zaranda 4">Zaranda Nro.4</option>
                        <option value="Zaranda 5">Zaranda Nro.5</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'ELEVADOR'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Elevador electrico 1">Nro.1 - Elevador electrico hidraulico</option>
                        <option value="Elevador electrico 2">Nro.2 - Elevador electrico hidraulico</option>
                        <option value="Apilador a bateria 5">Nro.5 - Apilador a bateria</option>
                        <option value="Elevador electrico 6">Nro.6 - Elevador electrico hidraulico</option>
                        <option value="Apilador a bateria 7">Nro.7 - Apilador a bateria</option>
                        <option value="Apilador a bateria 8">Nro.8 - Apilador a bateria</option>
                        <option value="Apilador a bateria 9">Nro.9 - Apilador a bateria</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'ZORRA'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Zorra Mecanica 10">Nro.10 - Zorra Mecanica</option>
                        <option value="Zorra Mecanica 11">Nro.11 - Zorra Mecanica</option>
                        <option value="Zorra Mecanica 14">Nro.14 - Zorra Mecanica</option>
                        <option value="Zorra Mecanica 15">Nro.15 - Zorra Mecanica</option>
                        <option value="Zorra con bascula FAB 019">FAB 019 - Zorra CON BASCULA ELECTRONICA</option>
                        <option value="Zorra con bascula FAB 040">FAB 040 - Zorra CON BASCULA ELECTRONICA</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'BALANZA'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Bascula dispersora 1">FAB 037 - Bascula Dispersora 1</option>
                        <option value="Bascula dispersora 2">FAB 051 - Bascula Dispersora 2</option>
                        <option value="Bascula dispersora 3">FAB 043 - Bascula Dispersora 3</option>
                        <option value="Bascula dispersora 4">FAB 036 - Bascula Dispersora 4</option>
                        <option value="Bascula dispersora 6">FAB 035 - Bascula Dispersora 6</option>
                        <option value="Bascula dispersora 7 FAB 013">FAB 013 - Bascula Dispersora 7</option>
                        <option value="Bascula dispersora 7 FAB 014">FAB 014 - Bascula Dispersora 7</option>
                        <option value="Bascula dispersora 8">FAB 050 - Bascula Dispersora 8</option>
                        <option value="Bascula dispersora 10 FAB 016">FAB 016 - Bascula Dispersora 10</option>
                        <option value="Bascula dispersora 10 FAB 054">FAB 054 - Bascula Dispersora 10</option>
                        <option value="Bascula dispersora 11">FAB 042 - Bascula Dispersora 11</option>
                        <option value="Bascula dispersora 12">FAB 049 - Bascula Dispersora 12</option>
                        <option value="Bascula dispersora 13">FAB 015 - Bascula Dispersora 13</option>
                        <option value="Bascula dispersora 14">FAB 056 - Bascula Dispersora 14</option>
                        <option>**</option>
                        <option value="Balanza carro FAB 029">FAB 029 - Balanza carro (Giorgi)</option>
                        <option value="Balanza carro FAB 030">FAB 030 - Balanza carro (Cortez)</option>
                        <option value="Balanza carro FAB 031">FAB 031 - Balanza carro ()</option>
                        <option value="Balanza carro FAB 032">FAB 032 - Balanza carro (Gorosito)</option>
                        <option value="Balanza carro FAB 033">FAB 033 - Balanza carro (Sandoval)</option>
                        <option value="Balanza carro FAB 034">FAB 034 - Balanza carro (Estamatti)</option>
                        <option value="Balanza carro FAB 045">FAB 045 - Balanza carro (Guevara)</option>
                        <option value="Balanza carro FAB 046">FAB 046 - Balanza carro (Ugarte)</option>
                        <option value="Balanza carro FAB 047">FAB 047 - Balanza carro (Caliva)</option>
                        <option value="Balanza carro FAB 048">FAB 048 - Balanza carro ()</option>
                        <option>**</option>
                        <option value="Balanza tinturado FAB 038">FAB 038 - Balanza tinturado</option>
                        <option value="Balanza tinturado FAB 039">FAB 039 - Balanza tinturado</option>
                        <option value="Balanza tinturado FAB 041">FAB 041 - Balanza tinturado</option>
                        <option value="Balanza tinturado FAB 052">FAB 052 - Balanza tinturado</option>
                        <option>**</option>
                        <option value="Bascula tambores FAB 011">FAB 011 - Bascula tambores</option>
                        <option value="Balanza cuna FAB 044">FAB 044 - Balanza cuna tambores</option>
                        <option value="Balanza basicos FAB 053">FAB 053 - Balanza electronica Basicos</option>
                        <option value="Balanza fraccionamiento FAB 054">FAB 055 - Balanza fraccionamiento</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo == 'VARIOS'" class="col-2">
                <div class="input-group">
                    <select class="mt-1 custom-select boldText" [(ngModel)]="nroequipo" id="nroequipo">
                        <option value="Bomba centrifuga torre">Bomba centrifuga torre</option>
                        <option value="Compresor a tornillo">Compresor a tornillo</option>
                        <option value="Paletizador">Empaquetadora de palets</option>
                        <option value="Envasadora 1">Envasadora semi Nro.1</option>
                        <option value="Envasadora 2">Envasadora semi Nro.2</option>
                        <option value="Envasadora 3">Envasadora semi Nro.3</option>
                        <option value="Extractor polvo">Extractor polvo</option>
                        <option value="Shaker giroscopico 1">Shaker Nro.1</option>
                        <option value="Shaker giroscopico 2">Shaker Nro.2</option>
                        <option value="Shaker giroscopico 3">Shaker Nro.3</option>
                        <option value="Shaker giroscopico 4">Shaker Nro.4</option>
                    </select>
                </div>
            </div>
            <div *ngIf="equipo" class="col-1 mt-2" style="text-align: right;">
                <span class="boldText">Desde fecha</span>
            </div>
            <div *ngIf="equipo" class="col-2 text-align: right">
                <input type="date" class="boldText" style="height: 46px; " [(ngModel)]="fecha"
                    placeholder="Desde fecha">
            </div>
        </div>
    </div>

    <div style="overflow: scroll; height:400px; width: 70%; margin: auto; margin-top: 15px;"
        class="table-striped table-responsive">

        <table *ngIf="arregloMantenimiento.length != 0" class="table table-dark">
            <tr>
                <th>Proxima Revision</th>
                <th>Equipo</th>
                <th>Numero Equipo</th>
                <th>Motivo intervencion</th>
                <th>Verif. Limpieza</th>
                <th>Verif. Correas</th>
                <th>Verif. Mangueras</th>
                <th>Verif. Engrase</th>
                <th>Verif. Lubricacion</th>
                <th>Verif. Accesorios</th>
                <th>Verif. Conexiones</th>
                <th>Verif. Tableros</th>
                <th>Verif. Cortes</th>
                <th>Observaciones</th>
                <th>Ultima Revision</th>
                <th>Realizada por</th>
            </tr>
            <tr *ngFor="let item of arregloMantenimiento">
                <td>{{item.proxrevision | datePipe}}</td>
                <td>{{item.equipo}}</td>
                <td>{{item.nroequipo}}</td>
                <td>{{item.motivo}}</td>
                <td>{{item.limpieza}}</td>
                <td>{{item.correas}}</td>
                <td>{{item.mangueras}}</td>
                <td>{{item.engrase}}</td>
                <td>{{item.lubricacion}}</td>
                <td>{{item.accesorios}}</td>
                <td>{{item.conexiones}}</td>
                <td>{{item.tableros}}</td>
                <td>{{item.cortes}}</td>
                <td>{{item.observaciones}}</td>
                <td>{{item.fecha | datePipe}}</td>
                <td>{{item.usuario}}</td>
            </tr>
        </table>
    </div>

    <div>
        <div class="row mt-4">
            <div class="col-2">
                <button [disabled]="equipo || arregloMantenimiento.length != 0" class="btn btn-danger float-lg-right" (click)="onBusquedaProx()">Buscar proximo mantenimiento</button>
            </div>
            <div class="col-1">
                <button [disabled]="arregloMantenimiento.length==0" class="btn btn-warning float-lg-right"
                    (click)="onExcel()">Generar Excel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
                    (click)="resetear()">Resetear</button>
                <button [disabled]="arregloMantenimiento.length==0" class="btn btn-warning float-lg-left ml-3"
                    (click)="imprimirBusqueda()">IMPRIMIR BUSQUEDA</button>
            </div>
            <div class="col-1">
                <button class="btn btn-success" (click)="onBusqueda()">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="yesPrint">

    <div>
        <h3 style="font-weight: bold;" class="text-center">LISTADO MANTENIMIENTO</h3>
    </div>
    <h4>
        <div class="col-3 mt-3" style="text-align: right;">
            <span class="boldText">Equipo: {{this.equipo}}</span>
        </div>

        <div class="col-3 mt-3" style="text-align: right;">
            <span class="boldText">Numero Equipo: {{this.nroequipo}}</span>
        </div>
    </h4>
    <br><br>

    <table class="table" style="font-size: xx-small">
        <thead>
            <tr class="text-white text-center" *ngIf="arregloMantenimiento.length > 0">
                <th>Proxima Revision</th>
                <th>Motivo intervencion</th>
                <th>Verif. Limpieza</th>
                <th>Verif. Correas</th>
                <th>Verif. Mangueras</th>
                <th>Verif. Engrase</th>
                <th>Verif. Lubricacion</th>
                <th>Verif. Accesorios</th>
                <th>Verif. Conexiones</th>
                <th>Verif. Tableros</th>
                <th>Verif. Cortes</th>
                <th>Observaciones</th>
                <th>Ultima Revision</th>
                <th>Realizado por</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arregloMantenimiento" class="text-center" style="cursor: pointer;">
                <td>{{item.proxrevision | datePipe}}</td>
                <td>{{item.motivo}}</td>
                <td>{{item.limpieza}}</td>
                <td>{{item.correas}}</td>
                <td>{{item.mangueras}}</td>
                <td>{{item.engrase}}</td>
                <td>{{item.lubricacion}}</td>
                <td>{{item.accesorios}}</td>
                <td>{{item.conexiones}}</td>
                <td>{{item.tableros}}</td>
                <td>{{item.cortes}}</td>
                <td>{{item.observaciones}}</td>
                <td>{{item.fecha | datePipe}}</td>
                <td>{{item.usuario}}</td>
            </tr>
        </tbody>
    </table>
</div>