<div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(227, 241, 23)">
    <div class="row">
        <div class="col-6 text-dark">
            <h2>Verificación de materias primas versus numero de lote</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-3">
            <span>Operario</span>
            <div class="input-group">
                <select class="mt-2 custom-select boldText" [(ngModel)]="operario" id="operario">
                    <option value="CALIVA">Caliva</option>
                    <option value="CORTEZ">Cortez</option>
                    <option value="ESTAMATTI">Estamatti</option>
                    <option value="GALANTE">Galante</option>
                    <option value="GIORGI">Giorgi</option>
                    <option value="MACIEL">Maciel</option>
                    <option value="DARIO">Parisi</option>
                    <option value="PORTILLO">Portillo</option>
                    <option value="SANDOVAL">Sandoval</option>
                    <option value="SOSA">Sosa</option>
                    <option value="VIVAS">Vivas</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5">
            <span>Código de materia prima</span>
            <input placeholder="Codigo mp" class="form-control w-50 boldText" type="number" [(ngModel)]="codigomp"
                (change)="traerDescripcion()">
        </div>
        <div class="col-7 mt-4">
            <b>
                <h2>{{descripcion}}</h2>
            </b>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5">
            <span>Numero de lote</span>
            <input placeholder="Lote" class="form-control w-50 boldText" type="number" [(ngModel)]="lote"
                pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length == 5) return false;"
                (change)="traerLote()" />
        </div>
        <div class="col-6 mt-4">
            <b>
                <h2>{{descripcionLote}}</h2>
            </b>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5">
            <span>Numero de partida (batch)</span>
            <input placeholder="Partida" class="form-control w-50 boldText" type="number" [(ngModel)]="partida"
                pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length == 7) return false;"
                (change)="traerPartida()" />
        </div>
        <div class="col-6 mt-4">
            <b>
                <h2>{{partida}}</h2>
            </b>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-7">
        <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
            (click)="resetear()">Resetear</button>
    </div>
    <div class="col-2">
        <button [disabled]="!operario || !partida || !lote || !codigomp" class="btn btn-success"
            (click)="enviarData()">VERIFICAR</button>
    </div>
</div>