<div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(137,145,21)">
    <div class="row">
        <div class="col-6">
            <h2>Anulación de Batch Ticket</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row mt-2" >
    <div class="col-7">
        <input class="form-control w-50 m-auto boldText" style="margin-top: 4% !important;" 
        placeholder="Ingrese numero de batch para anular*" type="number" [(ngModel)]="batch" (change)="onBatchChange()">
    </div>
    <div class="col-5">
        <h2 class="mt-4">
            <span class="badge badge-pill badge-warning">
                {{codpt}} - {{descripcion}}
            </span>
        </h2>     
    </div>
</div>
<div class="row mt-4">
    <div class="col-10 float-right mt-4">
        <button id="btnanular" (click)="onBatchSubmit()" class="btn btn-primary float-right mr-3">ANULAR BATCH TICKET</button>
    </div>
</div>
