.bg-orange{
    background-color: rgb(255, 196, 0); 
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: lightgreen;
}

.bg-light-yellow{
    background-color: rgb(245, 227, 64)
}