<div class="notPrint">
    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(137,145,21)">
        <div class="row">
            <div class="col-6">
                <h3>Planificación de producción</h3>
                <hr>
            </div>
            <div class="col-3 text-center">
                <h5>Busqueda del producto</h5>
                <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal1" class="mt-4 bi bi-search"
                    width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="col-3 text-center">
                <h5>Busqueda de planificación para editar</h5>
                <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal2" class="mt-4 bi bi-search"
                    width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                        clip-rule="evenodd" />
                </svg>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row mt-2">
            <div class="col-3">
                <label>Código del Producto</label>
                <input disabled (change)="validarId()" type="number" [(ngModel)]="codpt" class="form-control boldText"
                    id="codpt">
            </div>
            <div class="col-9">
                <h4 class="bg-danger mt-3 text-center rounded text-white">
                    {{descripcion}}
                </h4>
                <hr>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <label>Cantidad</label>
                <div class="input-group">
                    <input type="number" aria-describedby="basic-addon2" [(ngModel)]="cantidad"
                        class="form-control boldText" (keypress)="omit_number($event)" id="cantidad">
                    <div class="input-group-append">
                        <span class="input-group-text boldText" id="basic-addon2">{{unidadmedida}}</span>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <label>Envasado solicitado</label>
                <input type="string" [(ngModel)]="formaenv" class="form-control boldText">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <label>Cliente</label>
                <input type="string" [(ngModel)]="cliente" class="form-control boldText">
            </div>
            <div class="col-4">
                <label>Fecha comprometida</label>
                <input type="date" [(ngModel)]="fechacompr" class="form-control boldText">
            </div>
            <div class="col-4">
                <label>Motivo planificación / Nro. pedido</label>
                <input type="text" [(ngModel)]="motivo" class="form-control boldText">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <label>Lote</label>
                <input type="number" disabled [(ngModel)]="lote" class="form-control boldText" id="lote">
            </div>
            <div class="col-4">
                <label>Fecha de Comienzo</label>
                <input type="date" [(ngModel)]="fechacomienzo" class="form-control boldText" id="fechacomienzo">
            </div>
            <div class="col-4">
                <label>Operario</label>
                <input type="string" [(ngModel)]="operario" class="form-control boldText" id="operario">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-3">
                <span>Proceso</span>
                <div class="input-group">
                    <select class="mt-2 custom-select boldText" [(ngModel)]="proceso" id="proceso">
                        <option value="PRE-PESADO">PRE-PESADO</option>
                        <option value="DISPERSION">DISPERSION</option>
                        <option value="MOLIENDA">MOLIENDA</option>
                        <option value="CONTROL DE CALIDAD">CONTROL DE CALIDAD</option>
                        <option value="AJUSTE DE VISCOSIDAD">C.C. AJUSTE VISCOSIDAD</option>
                        <option value="ENVASADO">ENVASADO</option>
                        <option value="FALTANTE">MP EN FALTA</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <span>Dispersora</span>
                <div class="input-group">
                    <select class="mt-2 custom-select boldText" [(ngModel)]="dispersora" id="dispersora">
                        <option value="Dispersora 1  300 Lt">1 - 300 Lt</option>
                        <option value="Dispersora 2  300 Lt">2 - 300 Lt</option>
                        <option value="Dispersora 3  300 Lt">3 - 300 Lt</option>
                        <option value="Dispersora 4  300 Lt">4 - 300 Lt</option>
                        <option value="Dispersora 5   20 Lt">5 - 20 Lt</option>
                        <option value="Dispersora 6  600 Lt">6 - 600 Lt</option>
                        <option value="Dispersora 7 1000 Lt">7 - 1000 Lt</option>
                        <option value="Dispersora 8 2000 Lt">8 - 2000 Lt</option>
                        <option value="Dispersora 9 2000 Lt">9 - 2000 Lt</option>
                        <option value="Dispersora 10  600 Lt">10 - 600 Lt</option>
                        <option value="Dispersora 11 2500 Lt">11 - 2500 Lt</option>
                        <option value="Dispersora 12 2500 Lt">12 - 2500 Lt</option>
                        <option value="Dispersora 13 2500 Lt">13 - 2500 Lt</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <span>Molino</span>
                <div class="input-group">
                    <select class="mt-2 custom-select boldText" [(ngModel)]="molino" id="molino">
                        <option value="Molino 1 WAB 5 Lt"> 1 - WAB 5L</option>
                        <option value="Molino 2 LONGLY 20 Lt">2 - Longly 20L</option>
                        <option value="Molino 3 WAB 25 Lt">3 - WAB 25L</option>
                        <option value="Molino Canasto LONGLY">4 - Molino Canasto</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <label>Fecha Finalizado</label>
                <input type="date" [(ngModel)]="fechafin" class="form-control boldText" id="fechafin">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="float-right mt-4">
                    <button *ngIf="borrar && !lote" (click)="borrarFila()" class="btn btn-primary mr-3"><svg
                            class="bi bi-trash-fill" width="15px" height="15px" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                                clip-rule="evenodd" />
                        </svg></button>
                    <button class="btn btn-primary mr-5" (click)="cancelar()">Cancelar Operación</button>
                    <button class="btn btn-success" (click)="finalizar()">Cargar</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PRODUCTOS TERMINADOS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="recipient-name9" class="col-form-label">Código</label>
                                    <input (keyup)="buscarP()" [(ngModel)]="idBus" type="number" class="form-control"
                                        id="recipient-name40">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="recipient-name9" class="col-form-label">Descripción</label>
                                    <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control"
                                        id="recipient-name40">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="recipient-name010" class="col-form-label">Color</label>
                                    <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control"
                                        id="recipient-name01">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="recipient-name012" class="col-form-label">Componente</label>
                                    <input (keyup)="buscarP()" type="text" [(ngModel)]="termino3" class="form-control"
                                        id="recipient-name02">
                                </div>
                            </div>
                        </div>

                        <div style="overflow: scroll; height: 250px; width: 100%;">
                            <table class="table table-hover">
                                <tr>
                                    <th>CODIGO</th>
                                    <th>DESCRIPCIÓN</th>
                                    <th>COLOR</th>
                                    <th>COMPONENTE</th>
                                </tr>
                                <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arraypt"
                                    (click)="seleccionarIdPt(item2.id)" style="cursor: pointer;">
                                    <td>{{item2.id}}</td>
                                    <td>{{item2.descripcion}}</td>
                                    <td>{{item2.color}}</td>
                                    <td>{{item2.componente}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE PLANIFICACIÓN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="recipient-name9" class="col-form-label">Código</label>
                                    <input (keyup)="buscarPlan()" [(ngModel)]="codptB" type="number"
                                        class="form-control" id="recipient-name000">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="recipient-name9" class="col-form-label">Descripción</label>
                                    <input (keyup)="buscarPlan()" [(ngModel)]="descripcionB" type="text"
                                        class="form-control" id="recipient-name40987">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="recipient-name010" class="col-form-label">Ciente</label>
                                    <input (keyup)="buscarPlan()" [(ngModel)]="clienteB" type="text"
                                        class="form-control" id="recipient-name01908">
                                </div>
                            </div>
                        </div>

                        <div style="overflow: scroll; height: 350px; width: 100%;">
                            <table class="table table-sm">
                                <tr>
                                    <th>DESCRIPCION</th>
                                    <th>CANTIDAD</th>
                                    <th>ENVASADO SOLICITADO</th>
                                    <th>CODIGO</th>
                                    <th>CLIENTE</th>
                                    <th>LOTE</th>
                                    <th>FECHA PROMETIDA</th>
                                    <th>OPERARIO</th>
                                    <th>PROCESO</th>
                                    <th>DISPERSORA</th>
                                    <th>MOLINO</th>
                                    <th>FECHA FINALIZADO</th>
                                </tr>
                                <tr [ngClass]="{
                                    'bg-orange': item2.isOrange, 
                                    'bg-yellow': item2.isYellow,
                                    'bg-green': item2.isGreen,
                                    'bg-red': item2.isRed
                                }"  data-dismiss="modal" *ngFor="let item2 of arrayB" (click)="traerDatos(item2.id)"
                                    style="cursor: pointer; height: 50px;">
                                    <td>{{item2.descripcion}}</td>
                                    <td>{{item2.cantidad}}</td>
                                    <td>{{item2.formaenv}}</td>
                                    <td>{{item2.codpt}}</td>
                                    <td>{{item2.cliente}}</td>
                                    <td>{{item2.lote}}</td>
                                    <td>{{item2.fechacompr | datePipe}}</td>
                                    <td>{{item2.operario}}</td>
                                    <td>{{item2.proceso}}</td>
                                    <td>{{item2.dispersora}}</td>
                                    <td>{{item2.molino}}</td>
                                    <td>{{item2.fechafin | datePipe}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="pendientes" type="button" class="btn btn-danger" (click)="imprimir()">Imprimir
                            Pendientes</button>
                        <button *ngIf="!pendientes" type="button" class="btn btn-danger" (click)="imprimir()">Imprimir
                            Busqueda</button>
                        <button type="button" class="btn btn-success" (click)="resetear1()">Resetear</button>
                        <button type="button" class="btn btn-info" (click)="listarPendientes()">Listar
                            Pendientes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 text-right">
                        </div>
                        <div class="col-2">
                            <img src="./assets/circulo naranja.jpeg" height="20px" width="20px" alt="*">
                            Productos finalizados
                        </div>
                        <div class="col-2">
                            <img src="./assets/circulo verde.jpeg" height="18px" width="18px" alt="*">
                            Productos en envasado
                        </div>
                        <div class="col-2">
                            <img src="./assets/circulo amarillo.jpeg" height="18px" width="18px" alt="*">
                            Productos en proceso
                        </div>
                        <div class="col-2">
                            <img src="./assets/circulo rojo.jpeg" 
                            height="15px" width="15px" alt="*">
                            Materia prima faltante
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yesPrint">
    <div class="text-center">
        <span class="badge badge-primary" style="font-size: 23px;">PLANIFICACION DE PRODUCCION</span>
    </div> <br> <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>DESCRIPCION</th>
                <th>CANTIDAD</th>
                <th>ENVASADO SOLICITADO</th>
                <th>CODPT</th>
                <th>CLIENTE</th>
                <th>LOTE</th>
                <th>FECHA PROMETIDA</th>
                <th>OPERARIO</th>
                <th>PROCESO</th>
                <th>DISPERSORA</th>
                <th>MOLINO</th>
                <th>FECHA FINALIZADO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item2 of arrayB">
                <td>{{item2.descripcion}}</td>
                <td>{{item2.cantidad}}</td>
                <td>{{item2.formaenv}}</td>
                <td>{{item2.codpt}}</td>
                <td>{{item2.cliente}}</td>
                <td>{{item2.lote}}</td>
                <td>{{item2.fechacompr | datePipe}}</td>
                <td>{{item2.operario}}</td>
                <td>{{item2.proceso}}</td>
                <td>{{item2.dispersora}}</td>
                <td>{{item2.molino}}</td>
                <td>{{item2.fechafin}}</td>
            </tr>
        </tbody>
    </table>
</div>