.bg-orange{
    background-color: orange; 
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: lightgreen;
}

.bg-light-yellow{
    background-color: rgb(250, 235, 96)
}