<div class="notPrint">

    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(227, 241, 23)">
        <div class="row">
            <div class="col-6 text-dark">
                <h2>Listado de control verificación</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-3" style="text-align: right;">
                <span class="boldText">Código de materia prima</span>
            </div>
            <div class="col-2">
                <input type="number" class="form-control boldText" [(ngModel)]="codigoMp" placeholder="Codigo mp">
            </div>
            <div class="input-group-append">
                <span *ngIf="!descripcion" visibility="hidden" class="input-group-text boldText" id="basic-addon2">
                    <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal3" width="2em"
                        height="1em" viewBox="0 0 16 16" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                            clip-rule="evenodd" />
                    </svg>
                </span>
            </div>
            <div class="col-3 mt-2" style="text-align: right;">
                <span class="boldText">Numero de Partida</span>
            </div>
            <div class="col-3">
                <input type="text" class="boldText" style="height: 46px; " [(ngModel)]="partida" placeholder="Partida">
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-3 mt-3" style="text-align: right;">
                <span class="boldText">Operario</span>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select class="mt-2 custom-select boldText" [(ngModel)]="operario">
                        <option value="CALIVA">Caliva</option>
                        <option value="CORTEZ">Cortez</option>
                        <option value="ESTAMATTI">Estamatti</option>
                        <option value="GALANTE">Galante</option>
                        <option value="GIORGI">Giorgi</option>
                        <option value="GUEVARA">Guevara</option>
                        <option value="GOROSITO">Gorosito</option>
                        <option value="SANDOVAL">Sandoval</option>
                        <option value="UGARTE">Ugarte</option>
                        <option value="VIVAS">Vivas</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3 mt-3" style="text-align: right;">
                <span class="boldText">Numero de lote MP</span>
            </div>
            <div class="col-3 mt-2">
                <input type="text" class="boldText" style="height: 46px; " [(ngModel)]="lote" placeholder="Lote">
            </div>
            <div class="col-3 mt-3" style="text-align: right;">
                <span class="boldText">Desde fecha</span>
            </div>
            <div class="col-3 mt-2">
                <input type="date" class="boldText" style="height: 46px; " [(ngModel)]="fecha"
                    placeholder="Fecha inicial">
            </div>
        </div>
    </div>

    <div style="overflow: scroll; height:400px; width: 70%; margin: auto; margin-top: 15px;"
        class="table-striped table-responsive">

        <table *ngIf="arregloVerificaciones.length != 0" class="table table-dark">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Operario</th>
                <th>Codigo mp</th>
                <th>Descripcion</th>
                <th>Lote</th>
                <th>Partida</th>
                <th>OK</th>
            </tr>
            <tr *ngFor="let item of arregloVerificaciones">
                <td>{{item.fecha | datePipe}}</td>
                <td>{{item.fecha | timePipe}}</td>
                <td>{{item.operario}}</td>
                <td>{{item.codigomp}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.lote}}</td>
                <td>{{item.partida}}</td>
                <td *ngIf='item.ok == "true"'>OK</td>
                <td *ngIf='item.ok == "false"'>ERROR</td>
            </tr>
        </table>
    </div>

    <div>
        <div class="row mt-4">
            <div class="col-3">
                <button [disabled]="arregloVerificaciones.length==0" class="btn btn-warning float-lg-right"
                    (click)="onExcel()">Generar
                    Excel</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
                    (click)="resetear()">Resetear</button>
                <button [disabled]="arregloVerificaciones.length==0" class="btn btn-warning float-lg-left ml-3"
                    (click)="imprimirBusqueda()">IMPRIMIR BUSQUEDA</button>
            </div>
            <div class="col-1">
                <button class="btn btn-success" (click)="onBusqueda()">Buscar</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 90%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA DE MATERIAS PRIMAS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name9" class="col-form-label">CODIGO DE LA MATERIA PRIMA:</label>
                                <input (keyup)="buscarMp()" [(ngModel)]="termino1" type="number" class="form-control"
                                    id="recipient-name40">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name9" class="col-form-label">DESCRIPCIÓN:</label>
                                <input (keyup)="buscarMp()" [(ngModel)]="termino2" type="text" class="form-control"
                                    id="recipient-name40">
                            </div>
                        </div>
                    </div>
                    <div style="overflow: scroll; height: 300px; width: 100%;">
                        <table class="table table-hover">
                            <tr>
                                <th>COD</th>
                                <th>DESCRIPCIÓN</th>
                                <th>TIPO</th>
                                <th>UNIDAD DE MEDIDA</th>
                            </tr>
                            <tr class="hoverFila" data-dismiss="modal" *ngFor="let item2 of arrayBusqueda"
                                (click)="seleccionarId(item2.id)" style="cursor: pointer;">
                                <td>{{item2.id}}</td>
                                <td>{{item2.descripcion}}</td>
                                <td>{{item2.tipo}}</td>
                                <td>{{item2.unidadmedidacompra}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: rgb(190, 171, 131); "
                        (click)="resetearBusqueda()">Resetear</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="yesPrint">

    <div>
            <h3 style="font-weight: bold;" class="text-center">LISTADO VERIFICACION CONTROL DE MATERIAS PRIMAS</h3>
    </div>
    <h4>
        <div class="col-3 mt-3" style="text-align: right;">
            <span class="boldText">Operario: {{this.operario}}</span>
        </div>

        <div class="col-3 mt-3" style="text-align: right;">
            <span class="boldText">Partida: {{this.partida}}</span>
        </div>
    </h4>
    <br><br>

    <table class="table" style="font-size: xx-small">
        <thead>
            <tr class="text-white text-center" *ngIf="arregloVerificaciones.length > 0">
                <th>Fecha</th>
                <th>Hora</th>
                <th>Operario</th>
                <th>Codigo mp</th>
                <th>Descripcion</th>
                <th>Lote</th>
                <th>Partida</th>
                <th>OK</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arregloVerificaciones" class="text-center" style="cursor: pointer;">
                <td>{{item.fecha | datePipe}}</td>
                <td>{{item.fecha | timePipe}}</td>
                <td>{{item.operario}}</td>
                <td>{{item.codigomp}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.lote}}</td>
                <td>{{item.partida}}</td>
                <td *ngIf='item.ok == "true"'>OK</td>
                <td *ngIf='item.ok == "false"'>ERROR</td>
            </tr>
        </tbody>
    </table>
</div>