<div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(227, 241, 23)">
    <div class="row">
        <div class="col-6 text-dark">
            <h2>Listado de control verificación</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-3" style="text-align: right;">
            <span class="boldText">Código de materia prima</span>
        </div>
        <div class="col-3">
            <input type="number" class="boldText" [(ngModel)]="codigoMp" placeholder="Codigo mp">
        </div>
        <div class="col-3" style="text-align: right;">
            <span class="boldText">Numero de Partida</span>
        </div>
        <div class="col-3">
            <input type="text" class="boldText" [(ngModel)]="partida" placeholder="Partida">
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-3 mt-3" style="text-align: right;">
            <span class="boldText">Operario</span>
        </div>
        <div class="col-3">
            <div class="input-group">
                <select class="mt-2 custom-select boldText" [(ngModel)]="operario">
                    <option value="CALIVA">Caliva</option>
                    <option value="CORTEZ">Cortez</option>
                    <option value="ESTAMATTI">Estamatti</option>
                    <option value="GALANTE">Galante</option>
                    <option value="GIORGI">Giorgi</option>
                    <option value="GUEVARA">Guevara</option>
                    <option value="MACIEL">Maciel</option>
                    <option value="DARIO">Parisi</option>
                    <option value="PORTILLO">Portillo</option>
                    <option value="SANDOVAL">Sandoval</option>
                    <option value="VIVAS">Vivas</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3" style="text-align: right;">
            <span class="boldText">Numero de lote MP</span>
        </div>
        <div class="col-3">
            <input type="text" class="boldText" [(ngModel)]="lote" placeholder="Lote">
        </div>
        <div class="col-3" style="text-align: right;">
            <span class="boldText">Desde fecha</span>
        </div>
        <div class="col-3">
            <input type="date" class="boldText" [(ngModel)]="fecha" placeholder="Fecha inicial">
        </div>
    </div>
</div>

<div style="overflow: scroll; height:400px; width: 70%; margin: auto; margin-top: 15px;"
    class="table-striped table-responsive">

    <table *ngIf="arregloVerificaciones.length != 0" class="table table-dark">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Operario</th>
            <th>Codigo mp</th>
            <th>Lote</th>
            <th>Partida</th>
            <th>OK</th>
        </tr>
        <tr *ngFor="let item of arregloVerificaciones">
            <td>{{item.fecha | datePipe}}</td>
            <td>{{item.fecha | timePipe}}</td>
            <td>{{item.operario}}</td>
            <td>{{item.codigomp}}</td>
            <td>{{item.lote}}</td>
            <td>{{item.partida}}</td>
            <td *ngIf='item.ok == "true"'>OK</td>
            <td *ngIf='item.ok == "false"'>ERROR</td>
        </tr>
    </table>

</div>

<div>
    <div class="row mt-4">
        <div class="col-9">
            <button type="button" class="btn float-lg-right" style="background-color: rgb(190, 171, 131);"
                (click)="resetear()">Resetear</button>
        </div>
        <div class="col-1">
            <button class="btn btn-success" (click)="onBusqueda()">Buscar</button>
        </div>
    </div>
</div>