<div class="notPrint" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="p-0 mt-1" style="background-color:rgb(190, 171, 131)">
        <h5 class="text-center font-weight-bold">VISUALIZACION DE MATERIAS PRIMAS</h5>
    </div>

    <div class="jumbotron p-2 mt-1" style="background-color:rgb(180, 138, 21); ">
        <div class="row text-white">
            <div class="col-4 mt-2">
                <div class="m-auto boldText">
                    <label style="font-size:15px"><b>CODIGO M.P.</b></label>
                    <input (keyup)="buscar()" [(ngModel)]="id" type="number" class="ml-1 boldText">
                    <span class="badge ml-5"
                        style="font-size: 25px; background-color: rgb(190, 171, 131);">{{id}}</span>
                </div>
            </div>

            <div class="col-8 mt-2">
                <div class="m-auto boldText">
                    <label style="font-size:15px"><b>INGRESE DESCRIPCIÓN</b></label>
                    <input (keyup)="buscar()" [(ngModel)]="descripcion" type="text" class="ml-1 boldText">
                    <span class="badge ml-5"
                        style="font-size: 25px; background-color: rgb(190, 171, 131);">{{descripcion}}</span>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row m-auto text-white" style="margin-top: 1% !important; ">
            <div class="col-2">
                <div class="m-auto ml-2">
                    <h6 style="font-size: 14px;" id="pe"><b>Peso especifico: </b><span class="badge"
                            style="font-size: 18px; background-color: rgb(190, 171, 131);">{{pesoespecifico | numeralPipe}}</span>
                    </h6>
                </div>
            </div>
            <div class="col-2">
                <div class="m-auto ml-2">
                    <h6 style="font-size: 14px;" id="ppp"><b>Sólidos PPP: </b><span class="badge"
                            style="font-size: 18px; background-color: rgb(190, 171, 131);">{{ppp | numeralPipe}}</span>
                    </h6>
                </div>
            </div>
            <div class="col-2">
                <div class="m-auto ml-2">
                    <h6 style="font-size: 14px;" id="ppv"><b>Sólidos PPV: </b><span class="badge"
                            style="font-size: 18px; background-color: rgb(190, 171, 131);">{{ppv | numeralPipe}}</span>
                    </h6>
                </div>
            </div>
            <div class="col-2">
                <div class="m-auto ml-2">
                    <h6 style="font-size: 14px;" id="resi"><b>% Resina: </b><span class="badge"
                            style="font-size: 18px; background-color: rgb(190, 171, 131);">{{resina | numeralPipe}}</span>
                    </h6>
                </div>
            </div>
            <div class="col-2">
                <div class="m-auto ml-2">
                    <h6 style="font-size: 14px;" id="pig"><b>% Pigmento: </b><span class="badge"
                            style="font-size: 18px; background-color: rgb(190, 171, 131);">{{pigmento | numeralPipe}}</span>
                    </h6>
                </div>
            </div>
            <div class="col-2">
            </div>

        </div>
        <hr class="bg-light">
    </div>

    <div style="overflow: scroll; height:450px; width: 90%; margin-left: 100px;" class="table-striped table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center" *ngIf="array.length==0">
                    <th></th>
                </tr>
                <tr class="text-white text-center" *ngIf="array.length > 0">
                    <th>CODIGO</th>
                    <th>DESCRIPCION</th>
                    <th>TIPO</th>
                    <th>OBSOLETO</th>
                    <th>ULTIMA RECEPCIÓN</th>
                    <th>STOCK</th>
                    <th>STOCK MÍNIMO</th>
                    <th>U.M. COMPRA</th>
                    <th>RIESGO</th>
                    <th>PROTECCIÓN</th>
                    <th>COD.SEMI-ELAB.</th>
                    <th>COND. APROB. 1</th>
                    <th>COND. APROB. 2</th>
                    <th>COND. APROB. 3</th>
                    <th>COND. APROB. 4</th>
                    <th>INFO 1</th>
                    <th>INFO 2</th>
                    <th>INFO 3</th>
                    <th>CODIGO BARRAS</th>
                    <th>PRECIO</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of array" class="hoverFila text-center" (click)="traerFisicos(item.id)"
                    style="cursor: pointer;">
                    <td style="font-size: 16px;">{{item.id}}</td>
                    <td style="font-size: 16px;">{{item.descripcion}}</td>
                    <td style="font-size: 16px;">{{item.tipo}}</td>
                    <td style="font-size: 16px;">{{item.ubicacion}}</td>
                    <td style="font-size: 16px;">{{item.fechaultimarecepcion | datePipe}}</td>
                    <td style="font-size: 16px;">{{item.stock}}</td>
                    <td style="font-size: 16px;">{{item.stockminimo}}</td>
                    <td style="font-size: 16px;">{{item.unidadmedidacompra}}</td>
                    <td style="font-size: 16px;">{{item.riesgo}}</td>
                    <td style="font-size: 16px;">{{item.proteccion}}</td>
                    <td style="font-size: 16px;">{{item.codpt}}</td>
                    <td style="font-size: 16px;">{{item.condaprob1}}</td>
                    <td style="font-size: 16px;">{{item.condaprob2}}</td>
                    <td style="font-size: 16px;">{{item.condaprob3}}</td>
                    <td style="font-size: 16px;">{{item.condaprob4}}</td>
                    <td style="font-size: 16px;">{{item.info1}}</td>
                    <td style="font-size: 16px;">{{item.info2}}</td>
                    <td style="font-size: 16px;">{{item.info3}}</td>
                    <td style="font-size: 16px;">{{item.cobarras}}</td>
                    <td style="font-size: 16px;">{{item.precio}}</td>
                </tr>
            </tbody>


            <tr class="bg-primary">
                <h6 class="text-white p-3" *ngIf="array.length==0"> NO HAY MATERIAS PRIMAS CON ESOS PARAMETROS :( </h6>
            </tr>
        </table>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button class="btn float-right" style="margin-right: 6%; background-color: rgb(190, 171, 131);"
                (click)="resetearBusqueda()">RESETEAR
                BUSQUEDA</button>
            <button [disabled]="array.length==0" class="btn btn-warning float-lg-right" style="margin-right: 7%" (click)="imprimirBusqueda()">IMPRIMIR
                BUSQUEDA</button>
        </div>
    </div>

</div>


<div class="yesPrint">
    <div>
        <b>
            <h4 class="text-center">LISTADO DE MATERIAS PRIMAS</h4>
        </b>
    </div>
    <hr>
    <table class="table" style="font-size: xx-small">
        <thead>
            <tr class="text-center" *ngIf="array.length==0">
                <th></th>
            </tr>
            <tr class="text-white text-center" *ngIf="array.length > 0">
                <th>CODIGO</th>
                <th>DESCRIPCION</th>
                <th>TIPO</th>
                <th>ULTIMA RECEPCIÓN</th>
                <th>STOCK</th>
                <th>STOCK MÍNIMO</th>
                <th>U.M. COMPRA</th>
                <th>RIES.</th>
                <th>PROT.</th>
                <th>P.ESP.</th>
                <th>SOLIDOS ppP</th>
                <th>SOLIDOS ppV</th>
                <th>% RESINA</th>
                <th>% PIGMENTO</th>
                <th>COD.SEMI-ELAB.</th>
                <th>APROBACION 1</th>
                <th>COND.APROB.2</th>
                <th>COND.APROB.3</th>
                <th>COND.APROB.4</th>
                <!--  <th>INFO 1</th>    AUN NO SE USA, POR ENDE NO LO LISTO
                    <th>INFO 2</th>
                    <th>INFO 3</th>
                    <th>CODIGO BARRAS</th> -->
                <th>OBSL.</th>
                <!-- <th>PRECIO</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of array" class="text-center" style="cursor: pointer;">
                <td>{{item.id}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.fechaultimarecepcion | datePipe}}</td>
                <td>{{item.stock | numeralPipe: 'true'}}</td>
                <td>{{item.stockminimo | numeralPipe: 'true'}}</td>
                <td>{{item.unidadmedidacompra}}</td>
                <td>{{item.riesgo}}</td>
                <td>{{item.proteccion}}</td>
                <td>{{item.pesoespecifico | numeralPipe}}</td>
                <td>{{item.solidosppp | numeralPipe}}</td> <!-- no aparece el dato -->
                <td>{{item.solidosppv | numeralPipe}}</td> <!-- no aparece el dato -->
                <td>{{item.resina}}</td>
                <td>{{item.pigmento}}</td>
                <td>{{item.codpt}}</td>
                <td>{{item.condaprob1}}</td>
                <td>{{item.condaprob2}}</td>
                <td>{{item.condaprob3}}</td>
                <td>{{item.condaprob4}}</td>
                <!-- <td>{{item.info1}}</td>
                <td>{{item.info2}}</td>
                <td>{{item.info3}}</td>
                <td>{{item.cobarras}}</td> -->
                <td>{{item.ubicacion}}</td>
                <!-- <td>{{item.precio | numeralPipe}}</td> -->
            </tr>
        </tbody>
    </table>


</div>