<div class="notPrint">
    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(86,169,97)">
        <div class="row">
            <div class="col-12">
                <h2>Control de Calidad de Materias Primas</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row mt-2">
            <div class="col-2">
                <span>Código de la materia prima</span>
                <input disabled class="form-control boldText" type="number" [(ngModel)]="id">
            </div>
            <div class="col-5">
                <span>Descripción</span>
                <input disabled class="form-control boldText" type="text" [(ngModel)]="descripcion">
            </div>
            <div class="col-2">
                <span>Lote Nro.</span>
                <div class="input-group">
                    <input (change)="onLoteChange()" class="form-control boldText" type="number"
                        [(ngModel)]="numeroLote">
                    <div class="input-group-append">
                        <span *ngIf="!descripcion" visibility="hidden" class="input-group-text boldText" id="basic-addon2">
                            <svg data-toggle="modal" style="cursor: pointer;" data-target="#exampleModal1" class="bi bi-search"
                            width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                clip-rule="evenodd" />
                        </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <span>Fecha aprobación</span>
                <input class="form-control boldText" type="date" [(ngModel)]="fecha">
            </div>
        </div>

        <div *ngIf="tipo">
            <div class="row mt-2">
                <div class="col-4 mt-2">
                    <span>Tipo de producto -</span>
                    <input disabled class="boldText" type="text" [(ngModel)]="tipo"
                        style="background-color: rgb(216, 213, 13)">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <span *ngIf="tipo!='ENVASE'">Peso especifico</span>
                    <span *ngIf="tipo=='ENVASE'">Peso del envase 1</span>
                    <div class="input-group" *ngIf="tipo!='ENVASE'">
                        <input class="form-control boldText" type="number" [(ngModel)]="pesoespecifico">
                        <div class="input-group-append">
                            <span class="input-group-text boldText" id="basic-addon2"> Kg/Lt </span>
                        </div>
                    </div>
                    <div class="input-group" *ngIf="tipo=='ENVASE'">
                        <input class="form-control boldText" type="number" [(ngModel)]="pesoespecifico">
                        <div class="input-group-append">
                            <span class="input-group-text boldText" id="basic-addon2"> Kg </span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='CARGA'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Densidad aparente</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo8">
                    </div>
                    <div class="col-4">
                        <span>Humedad</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo2">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Absorción de aceite</span>
                        <div class="input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo9">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2"> % </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Medición de PH</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-4">
                        <span>Color</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Granulometría 1</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo7">
                    </div>
                    <div class="col-4">
                        <span>Granulometría 2</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                    <div class="col-4">
                        <span>Granulometría 3</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo4">
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='ENVASE'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Peso del envase 2</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo1">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2"> Kg </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Cierre y hermeticidad</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo2">
                    </div>
                    <div class="col-4">
                        <span>Impresión</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Resistencia del material</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-4">
                        <span>Estado del material</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo4">
                    </div>
                    <div class="col-4">
                        <span>Costura</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='MAT. AUXILIAR'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Viscosidad</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo1">
                    </div>
                    <div class="col-4">
                        <span>Spindle</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo7">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Contenido de sólidos</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo9">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2"> % </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Color</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Otros 1</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-4">
                        <span>Otros 2</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo4">
                    </div>
                    <div class="col-4">
                        <span>Otros 3</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='PIGMENTO'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Densidad aparente</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo8">
                    </div>
                    <div class="col-4">
                        <span>Humedad</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo2">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Absorción de aceite</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo9">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Medición de PH</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-4">
                        <span>Color</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Granulometría a)</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo7">
                    </div>
                    <div class="col-4">
                        <span>Granulometría b)</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                    <div class="col-4">
                        <span>Granulometría c)</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo4">
                    </div>
                </div>
            </div>

            <div *ngIf="tipo=='RESINA'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Viscosidad</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo1">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2">Cps</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Spindle</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo7">
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Viscosidad 2</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo8">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2">Cps</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>SP de viscosidad 2</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span>Contenido de Sólidos</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="number" [(ngModel)]="ensayo9">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2"> % </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <span>Curado</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-3">
                        <span>Color</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                    <div class="col-3">
                        <span>IR</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo2">
                    </div>
                </div>
            </div>


            <div *ngIf="tipo=='SOLVENTE'">
                <div class="row mt-2">
                    <div class="col-4">
                        <span>Viscosidad</span>
                        <input class="form-control boldText" type="number" [(ngModel)]="ensayo1">
                    </div>
                    <div class="col-4">
                        <span>Contenido de agua</span>
                        <div class=" input-group">
                            <input class="form-control boldText" type="text" [(ngModel)]="ensayo2">
                            <div class="input-group-append">
                                <span class="input-group-text boldText" id="basic-addon2"> % </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Color</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo5">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <span>Curva de destilación</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo3">
                    </div>
                    <div class="col-3">
                        <span>Acidez</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo4">
                    </div>
                    <div class="col-3">
                        <span>Alcalinidad</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo6">
                    </div>
                    <div class="col-3">
                        <span>Olor</span>
                        <input class="form-control boldText" type="text" [(ngModel)]="ensayo7">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="float-right">
                        <span>Resultado</span>
                        <select class="custom-select boldText" [(ngModel)]="aprobado" id="inputGroupSelect02">
                            <option value="Aprobado" class="bg-success">APROBADO</option>
                            <option value="RECHAZADO" class="bg-primary">RECHAZADO</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-10"></div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="float-right">
                        <button class="btn btn-primary mr-2" (click)="cancelar()">
                            Cancelar operación
                        </button>
                        <button class="btn btn-success" (click)="finalizar()">
                            Cargar datos
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel00">BUSQUEDA LOTE APROBACION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">Lote Nro.</label>
                            <input (keyup)="buscarP()" [(ngModel)]="idBus" type="number" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="form-group">
                            <label for="recipient-name9" class="col-form-label">Descripción</label>
                            <input (keyup)="buscarP()" [(ngModel)]="termino1" type="text" class="form-control"
                                id="recipient-name40">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="recipient-name010" class="col-form-label">Tipo de producto</label>
                            <input (keyup)="buscarP()" [(ngModel)]="termino2" type="text" class="form-control"
                                id="recipient-name01">
                        </div>
                    </div>
                </div>

                <div style="overflow: scroll; height: 300px; width: 100%;">
                    <table class="table table-hover">
                        <tr>
                            <th>CODIGO</th>
                            <th>DESCRIPCIÓN</th>
                            <th>TIPO</th>
                            <th>LOTE</th>
                        </tr>
                        <tr class="hoverFila" data-dismiss="modal" *ngFor="let item of arrayCt"
                            (click)="seleccionarLote(item.numeroLote)" style="cursor: pointer;">
                            <td>{{item.codigoMp}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.tipoProd}}</td>
                            <td>{{item.numeroLote}}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: rgb(190, 171, 131); "
                (click)="resetearBusqueda()">Resetear</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>