<div class="container notPrint">
    <div class="bg rounded p-3 mt-1 text-white" style="background-color:rgb(86,169,97)">
        <div class="row">
            <div class="col-6">
                <h2>Impresión fichas de extensión</h2>
                <hr>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <span>Desde ficha</span>
            <input type="number" class="form-control" [(ngModel)]="desde">
        </div>
        <div class="col-6">
            <span>Hasta ficha</span>
            <input type="number" class="form-control" [(ngModel)]="hasta">
        </div>
    </div>
    <div class="row mt-5" style="overflow: scroll; height:450px; width: 90%; margin: auto;">
        <table class="table bg-dark" style="color: white">
            <thead>
                <tr>
                    <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-7">
            <button type="button" class="btn float-lg-left" style="background-color: rgb(190, 171, 131);" (click)="resetear()">Resetear</button>
        </div>
        <div class="col-2">
            <button class="btn btn-warning float-lg-right" [disabled]="!items" (click)="onPrint()">Imprimir</button>
        </div>
        <div class="col-2">
            <button class="btn btn-success float-lg-right" [disabled]="!checkInputs" (click)="obtenerPorRango()">Realizar
                operacion</button>
        </div>

    </div>
</div>

<div class="yesPrint">
    <table class="table bg-dark" style="color: white">
        <thead>
            <tr>
                <th *ngFor="let propiedad of propiedades.th">{{propiedad}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td *ngFor="let propiedad of propiedades.tb">{{item[propiedad]}}</td>
            </tr>
        </tbody>
    </table>
</div>